<ion-header>
  <ion-navbar hideBackButton>
      <ion-buttons left>
          <button (click)="back()" class="customLeft">
              <i class="icon-arrow-left"></i>
          </button>
      </ion-buttons>
    <ion-title>歷史訂單</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div ion-fixed class="option">
    <div class="user">
      <i class="icon-user-outline"></i>
      <p>({{account.id}}){{account.name}}</p>
      <div class="renew">
        <span *ngIf="autoOn">{{countDownValue}} 秒後重新整理...</span>
        <ion-icon (click)="setAutoRefresh()" name="refresh" *ngIf="!autoOn"></ion-icon>
      </div>
    </div>
    <div class="listBt">
      <ion-segment [(ngModel)]="timeFilter" color="primary" (ionChange)="segmentChange()">
        <ion-segment-button class="left" value="3m">三月內</ion-segment-button>
        <ion-segment-button class="right" value="3d">三天內</ion-segment-button>
      </ion-segment>
      <ion-segment [(ngModel)]="sortType" color="primary" (ionChange)="sortSegmentChange()">
        <ion-segment-button class="left" value="1">下單日期</ion-segment-button>
        <ion-segment-button class="right" value="2">到貨日期</ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div *ngFor="let order of orders">
    <div class="number" [ngClass]="{true: 'turn_on'}[order.isOpen]" (click)="openOrder(order)">
      <p>訂單編號 {{order.order_no}} {{cssTrick}}</p>
    </div>
    <div class="detail">
      <p class="wait" *ngIf="order.type == 'APP'">APP新單</p>
      <p class="confirm" *ngIf="order.type == 'WEB'">客服新單</p>
      <p class="end" *ngIf="order.type == 'WEB_END'">客服結單</p>
      <p class="date" *ngIf="sortType == '1'"><b>下單日期 - {{order.create_time | momentPipe: 'YYYY/MM/DD HH:mm'}}</b> <br> 到貨日期 - {{order.delivery_date | momentPipe: 'YYYY/MM/DD HH:mm'}} </p>
      <p class="date" *ngIf="sortType == '2'"><b>到貨日期 - {{order.delivery_date | momentPipe: 'YYYY/MM/DD HH:mm'}}</b> <br> 下單日期 - {{order.create_time | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
      <ul *ngIf="order.isOpen">
        <li *ngFor="let food of order.details">
          <span>{{food.code}} - {{food.name}}</span>
          <span *ngIf="food.unit == '散裝/X'" style="float: right; padding-left: 5px"> 散裝 {{food.count}} 噸 </span>
          <span *ngIf="food.unit != '散裝/X'" style="float: right; padding-left: 5px"> 包裝 {{food.count}} 包 </span>
          <div *ngIf="food?.detailSP">
            <ul *ngIf="food.detailSP.drugCompanyList.length > 0">
              <li *ngFor="let drug of food.detailSP.drugCompanyList">
                <span>特配 - 公司 / {{drug.code}} - {{drug.name}}</span>
                <span style="float: right">每噸+ {{drug.count1kg}} kg</span>
              </li>
            </ul>
            <ul *ngIf="food.detailSP.drugSelfList.length > 0">
              <li *ngFor="let drug of food.detailSP.drugSelfList">
                <span>特配 - 自備 / {{drug.code}} - {{drug.name}}</span>
                <span style="float: right">每噸+ {{drug.count1kg}} kg</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="desc" *ngIf="order.isOpen && order.desc_app">
        <p>訂單備註：</p>
        <p>{{order.desc_app}}</p>
      </div>
      <div class="options" *ngIf="order.isOpen">
        <button class="copy" (click)="copyOrder(order)">複製這張單</button>
        <div class="groupBt" *ngIf="order.type == 'APP'">
          <button class="cancel" (click)="deleteOrder(order)">取消訂單</button>
          <button class="modify" (click)="editOrder(order)">修改</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>