page-order-list {
    ion-header {
        ion-navbar {
            .toolbar-background, .toolbar-background-ios {
                background-color: map-get($colors, fff);
                border: 0 !important;
            }
            .toolbar-content, .toolbar-content-ios {
                ion-title {
                    background: url("../assets/icon/ifeed_2.png") no-repeat bottom right;
                    background-size: 7em;
                    .toolbar-title, .toolbar-title-ios {
                        font-size: 1.25em;
                        font-weight: 350;
                        color: map-get($colors, 636);
                        text-align: center;
                    }
                    &.title-md {
                        background-position-y: center;
                    }
                }
            }
            .customLeft{
                color: map-get($colors, 636);
                font-size: 2.25em;
                background: transparent;
                // width: calc(100% - 36px);
            }
        }
    }
    ion-content {
        &.content-ios, &.content {
            background-color: map-get($colors, f5f);
        }
        .scroll-content{
            margin-top: 12em !important;
        }
        .option {
            padding: 16px 16px 0 16px;
            width: 100%;
            .user {
                i {
                    color: map-get($colors, 08C);
                    font-size: 1.375em;
                    float: left;
                }
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin: 0 0 0 auto;
                    color: map-get($colors, 636);
                    width: calc(100% - 25px);
                }
                .renew {
                    text-align: right;
                    color: map-get($colors, 636);
                    margin: 10px;
                    span {
                        font-size: 0.875rem;
                    }
                    ion-icon {
                        font-size: 1.2em;
                    }
                }
            }
            .listBt {
                display: flex;
                ion-segment {
                    ion-segment-button {
                        &.segment-button {
                            color: map-get($colors, fff);
                            height: 2.3em;
                            line-height: 2.3em;
                            border-radius: 0 !important;
                            border: 1px solid map-get($colors, fff);
                            background-color: map-get($colors, c9c);
                        }
                        &.left {
                            margin: 0 0.5em 0 0;
                        }
                        &.segment-activated {
                            background-color: map-get($colors, 5a9);
                        }
                    }
                    &:not(:nth-last-child(1)) {
                        // margin: 0 1em 0 0;
                        padding: 0 0.5em 0 0;
                        margin: 0 0.5em 0 0;
                        border-right: 1px solid map-get($colors, 5a9);
                    }
                }
            }
        }
        .number{
            border: 1px solid map-get($colors, D8D);
            padding: 0.5em;
            background-color: map-get($colors, fff);
            position: relative;
            &:after {
                position: absolute;
                top: 0.3em;
                right: 0.3em;
                transition: 0.25s ease-in-out;
                content: '\e906';
                font-family: 'icomoon';
                font-weight: normal;
                font-style: normal;
                transform: rotate(-90deg);
                font-size: 2rem;
                color: map-get($colors, 08C);
            }
            &.turn_on {
                &:after {
                    transform: rotate(90deg);
                }
                &+ .detail {
                    padding-bottom: 0.5em;
                }
            }
            p{
                font-size: 0.938em;
                font-weight: bolder;
                color: map-get($colors, 636);
                margin: 0;
                display: inline-block;
                vertical-align: top;
            }
            img{
                top: 0.8em;
                right: 0.5em;
                float: right;
                margin: 0.5em 0.5em 0.5em 0;
            }
        }
        .detail {
            border: 1px solid map-get($colors, D8D);
            border-top: 0;
            padding: 0.5em 0.5em 1.5em;
            background-color: map-get($colors, fff);
            font-size: 0.813em;
            margin: 0 0 1em;
            min-height: 5em;
            .wait{
                display: inline-block;
                vertical-align: top;
                background-color: map-get($colors, ff5);
                margin: 0.5em 0 0;
                padding: 0.5em;
                color: map-get($colors, fff);
            }
            .confirm{
                display: inline-block;
                vertical-align: top;
                background-color: map-get($colors, D3A);
                margin: 0.5em 0 0;
                padding: 0.5em;
                color: map-get($colors, fff);
            }
            .end{
                display: inline-block;
                vertical-align: top;
                background-color: map-get($colors, 989);
                margin: 0.5em 0 0;
                padding: 0.5em;
                color: map-get($colors, fff);
            }
            .date{
                display: inline-block;
                vertical-align: top;
                color: map-get($colors, 636);
                float: right;
                margin: 0;
            }
            ul{
                font-size: 0.813em;
                color: map-get($colors, 8A8);
                padding-left: 2em;
                ul {
                    padding-left: 1.2em;
                }
            }
            .desc{
                p {
                    font-size: 0.813em;
                    color: map-get($colors, 636);
                    margin: 0 0 0.5em 0.5em;
                }
            }
            .options{
                text-align: right;
                margin: 0 0 0.5em;
                height: 28px;
                .groupBt {
                    .cancel{
                        width: 25%;
                        line-height: 2em;
                        background-color: map-get($colors, 989);
                        color: map-get($colors, fff);
                    }
                    .modify{
                        width: 25%;
                        line-height: 2em;
                        background-color: map-get($colors, 8AA);
                        color: map-get($colors, fff);
                    }
                }
                .copy{
                    width: 29%;
                    line-height: 2em;
                    border-radius: 0;
                    background-color: map-get($colors, 3f7);
                    color: map-get($colors, fff);
                    float: left;
                }
            }
        }
    }
}