<ion-header>
    <page-header></page-header>
</ion-header>
<ion-content>
    <form [formGroup]="editForm">
        <div class="prompt">
            <p>請輸入已開通之帳號密碼</p>
            <p class="error">{{errorMsg}}</p>
        </div>
        <div class="user">
            <p>帳號/客戶編號</p>
            <ion-input type="text" [(ngModel)]="loginData.userId" formControlName="userId"></ion-input>
            <div class="error" *ngIf="editForm.get('userId').hasError('required') && editForm.get('userId').touched">
                請輸入帳號
            </div>
            <ion-checkbox [(ngModel)]="isSaveAccount" formControlName="isSaveAccount" (ionChange)="setSaveAccount()"></ion-checkbox>記住帳號
            <p>密碼</p>
            <ion-input type="password" [(ngModel)]="loginData.password" formControlName="password"></ion-input>
            <div class="error" *ngIf="editForm.get('password').hasError('required') && editForm.get('password').touched">
                請輸入密碼
            </div>
        </div>
        <div class="determine">
            <button ion-button (click)="login()">確定</button>
        </div>
    </form>
</ion-content>