<ion-tabs>
  <ion-tab [root]="OrderFoodRoot" tabTitle="我要訂料" tabIcon="icon-document-add"></ion-tab>
  <ion-tab [root]="OrderListRoot" tabTitle="歷史訂單" tabIcon="icon-document-text"></ion-tab>
  <ion-tab [root]="MessageRoot" tabTitle="通知訊息" tabIcon="icon-volume-down" [tabBadge]="badgeNum" color="danger"></ion-tab>
  <ion-tab [root]="SettingRoot" tabTitle="設定" tabIcon="icon-cog-outline"></ion-tab>
</ion-tabs>