<!-- <ion-header>

  <ion-navbar>
    <ion-title>新增特配單</ion-title>
  </ion-navbar>
  <button ion-button (click)="back()" icon-left>
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
</ion-header>


<ion-content padding>

</ion-content> -->

<ion-header>
  <ion-navbar>
    <ion-title>新增特配</ion-title>
    <i class="icon-times" (click)="back()"></i>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="select">
    <p>原料代號</p>
    <ion-item>
      <ion-list>
        <button ion-item (click)="openSpecialFoodModal()">
          {{drug.type == null ? null : (drug.type == "COMPANY" ? "公司 / " : "自備 / ")}} {{drug.code}} {{drug.name}}
        </button>
      </ion-list>
    </ion-item>
  </div>
  <div class="groups">
    <p>每一頓用量(KG)</p>
    <input type="number" [(ngModel)]="drug.count1kg"/>
  </div>
  <div class="note">
    <p class="suggest">建議劑量(KG)：{{drug.recommendQuantity}}</p>
    <p class="highest">最高劑量(KG)：{{drug.maxQuantity}}</p>
  </div>
  <div class="options">
    <button class="cancel" ion-button (click)="back()">取消</button>
    <button class="determine" ion-button (click)="closeModal()">確定</button>
  </div>
</ion-content>