page-special-order-modal {
    ion-header{
        .toolbar-background, .toolbar-background-ios{
            background-color: map-get($colors, fff);
        }
        ion-navbar{
            padding: 0 1.2em !important;
            position: relative;
            .toolbar-background, .toolbar-background-ios{
                border: 0 !important; 
            }
            img{
                position: absolute;
                right: 1em;
                top: 1.3em;
                width: 1em;
                height: auto;
		        max-width: 100%;
            }
            .toolbar-content, .toolbar-content-ios, .toolbar-content-md{
                position: relative;
                i{
                    position: absolute;
                    font-size: 1.75em;
                    color: red;
                    top: -0.5em;
                    right: -0.2em;
                }
                display: inline-block;
                vertical-align: top;
                ion-title {
                    padding: 0 !important;
                    .toolbar-title-md{
                        padding: 0;
                    }
                    &.title {
                        padding: 1em;
                    }
                    &.title-ios{
                        padding: 1em;
                        margin-top: -2em;
                        height: env(safe-area-inset-top) !important;
                        min-height: env(safe-area-inset-top) !important;
                    }
                    .toolbar-title-ios, .toolbar-title{
                        font-size: 1.125em;
                        font-weight: 350;
                        color: map-get($colors, 636);
                        text-align: left;
                    }
                }
            }
        }
    }
    ion-content{
        p{
            font-size: 0.938em;
            color: map-get($colors, 636);
            margin: 0;
        }
        .scroll-content {
            padding: 0 16px 16px !important;
        }
        .select{
            margin: 0;
            ion-item{
                padding: 0;
                .item-block{
                    min-height: 0;
                }
                .item-inner{
                    padding: 0 !important;
                    min-height: auto;
                    border-bottom: 0px !important;
                    background-image: none !important;
                    ion-label{
                        &.label, &.label-ios{
                            margin: 0;
                            ion-list{
                                &.list, &.list-ios{
                                    margin: 0;
                                    button{
                                        background-color: map-get($colors, fff);
                                        border: 1px map-get($colors, D8D) solid;
                                        color: map-get($colors, 636);
                                        font-size: 0.875em;
                                        padding: 0;
                                        height: 2.3em;
                                        background: url(../assets/icon/ico_down.png) no-repeat center right 0.5em;
                                        background-size: 10px;
                                        background-color: map-get($colors, fff);
                                        .input-wrapper{
                                            margin-left: 0.5em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .groups{
            input{
            height: 2.1em;
            width: 100%;
            padding: 0 0.5em;
            color: map-get($colors, 636);
            -webkit-appearance: none;
            border-radius: 0px;
            border-color: map-get($colors, D8D);
            background-color: map-get($colors, fff);
            margin: 0.2em 0 0.5em;
            border: 1px map-get($colors, D8D) solid;
            }
        }
        .note{
            font-size: 0.875em;
            .suggest{
                color: map-get($colors, 989);
                text-align: left;
                margin: 0;
            }
            .highest{
                color: map-get($colors, ff5);
                text-align: left;
                margin: 0;
            }
        }
        .options{
            margin: 1em 0 0;
            text-align: center;
            button{
                height: 1.8em;
                width: 45%;
                font-size: 1em;
                &.cancel{
                    background-color: map-get($colors, 8A8);
                }
                &.determine{
                    background-color: map-get($colors, 8AA);
                }
            } 
        }
    }


    // iphone6/7/8 375 X 667
    @media only screen and (min-width: 375px) and (min-height: 667px){
        ion-header {
            ion-navbar ion-title.title-ios{
                margin-top: -1em !important;
            }
        }
    }
}