<!-- <ion-header>
  <ion-navbar [hideBackButton]="true" color="transparent">
    <ion-buttons left>
      <button ion-button (click)="back()" icon-left>
          <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="closeModal()" icon-right>
        確定
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list radio-group [(ngModel)]="foodId">
      <ion-item *ngFor="let food of foodList">
        <ion-label>{{food.id}} {{food.name}}</ion-label>
        <ion-radio value="{{food.id}}"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content> -->


--------------------------------------------------------
<ion-header>
  
    <ion-navbar>
      <ion-buttons left>
        <button ion-button (click)="back()">
          <i class="icon-arrow-left"></i>
        </button>
      </ion-buttons>
      <ion-title>選擇特配</ion-title>
      
      <ion-buttons right>
        <button ion-button (click)="closeModal()">
          確定
        </button>
      </ion-buttons>
    </ion-navbar>
    
  
  </ion-header>
  
  
  <ion-content>
    <div class="border">
      <ion-list *ngIf="drugOptions.length > 0">
        <ion-list radio-group [(ngModel)]="drugId">
          <ion-item *ngFor="let drug of drugOptions">
            <ion-label>{{drug.type == "COMPANY" ? "公司" : "自備"}} / {{drug.drugId}} {{drug.drugName}}</ion-label>
            <ion-radio value="{{drug.drugId}}" (ionSelect)="closeModal()"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-list>
      <div *ngIf="drugOptions.length == 0">
        <span>目前沒有歷史紀錄，請從web新增訂單</span>
        <img src="assets/imgs/app_error.png">
      </div>
    </div>

    <!-- <p>新客戶請至web客服下單</p>
    <div class="error">
      <img src=" ../assets/imgs/app_error.png">
    </div> -->
  </ion-content>
  