<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button *ngIf="!isSelectMode" (click)="changeMode(2)" class="customLeft">全選</button>
      <button *ngIf="isSelectMode" (click)="changeMode(0)" class="customLeft">取消</button>
    </ion-buttons>
    <ion-buttons right>
      <!--<button *ngIf="!isSelectMode" (click)="changeMode(1)" class="customLeft">標記已讀</button>-->
      <button *ngIf="isSelectMode" (click)="submit()" class="customLeft">確認已讀</button>
    </ion-buttons>
    <ion-title>通知訊息</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div ion-fixed class="option">
    <div class="listBt">
      <ion-segment [(ngModel)]="type" color="primary" (ionChange)="typeChange()">
        <ion-segment-button class="left" value="0">新增</ion-segment-button>
        <ion-segment-button class="left" value="1">完成</ion-segment-button>
        <ion-segment-button class="left" value="2">刪除</ion-segment-button>
        <ion-segment-button class="right" value="3">提醒</ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <ion-list>
    <ng-container *ngIf="type == 0">
      <ion-item *ngFor="let message of messages.create" [ngClass]="{true: 'selectMode'}[isSelectMode > 0]" (click)="selectMessage(message)">
        <div class="checkbox" [ngClass]="{true: 'active'}[message.isSelected]"></div>
        <div class="content1" text-wrap>
          <p><img *ngIf="newRecord[message.messageId] == 0" src="assets/icon/Oval 5.png"/>{{message.title}}</p>
          <p class="day">{{cssTrick}}{{message.createTime | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
        </div>
      </ion-item>
      <ng-container *ngIf="messages.create.length > 0 && !isSelectMode">
        <ion-item class="deleteBtn" (click)="deleteMessage(0)">
          <div class="content1">
            <p>清除整頁訊息</p>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type == 1">
      <ion-item *ngFor="let message of messages.complete" [ngClass]="{true: 'selectMode'}[isSelectMode > 0]" (click)="selectMessage(message)">
        <div class="checkbox" [ngClass]="{true: 'active'}[message.isSelected]"></div>
        <div class="content1" text-wrap>
          <p><img *ngIf="newRecord[message.messageId] == 0" src="assets/icon/Oval 5.png"/>{{message.title}}</p>
          <p class="day">{{message.createTime | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
        </div>
      </ion-item>
      <ng-container *ngIf="messages.complete.length > 0 && !isSelectMode">
        <ion-item class="deleteBtn" (click)="deleteMessage(1)">
          <div class="content1">
            <p>清除整頁訊息</p>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type == 2">
      <ion-item *ngFor="let message of messages.delete" [ngClass]="{true: 'selectMode'}[isSelectMode > 0]" (click)="selectMessage(message)">
        <div class="checkbox" [ngClass]="{true: 'active'}[message.isSelected]"></div>
        <div class="content1" text-wrap>
          <p><img *ngIf="newRecord[message.messageId] == 0" src="assets/icon/Oval 5.png"/>{{message.title}}</p>
          <p class="day">{{message.createTime | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
        </div>
      </ion-item>
      <ng-container *ngIf="messages.delete.length > 0 && !isSelectMode">
        <ion-item class="deleteBtn" (click)="deleteMessage(2)">
          <div class="content1">
            <p>清除整頁訊息</p>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="type == 3">
      <ion-item *ngFor="let message of messages.remind" [ngClass]="{true: 'selectMode'}[isSelectMode > 0]" (click)="selectMessage(message)">
        <div class="checkbox" [ngClass]="{true: 'active'}[message.isSelected]"></div>
        <div class="content1" text-wrap>
          <p><img *ngIf="newRecord[message.messageId] == 0" src="assets/icon/Oval 5.png"/>{{message.title}}</p>
          <p class="day">{{message.createTime | momentPipe: 'YYYY/MM/DD HH:mm'}}</p>
        </div>
      </ion-item>
      <ng-container *ngIf="messages.remind.length > 0 && !isSelectMode">
        <ion-item class="deleteBtn" (click)="deleteMessage(3)">
          <div class="content1">
            <p>清除整頁訊息</p>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
