page-message {
    ion-header {
        ion-navbar {
            .toolbar-background, .toolbar-background-ios {
                background-color: map-get($colors, f5f);
                border-bottom: 1px solid map-get($colors, c9c) !important;
            }
            .toolbar-content, .toolbar-content-ios {
                ion-title {
                    //background: url("../assets/icon/ifeed_2.png") no-repeat bottom right;
                    //background-size: 7em;
                    .toolbar-title, .toolbar-title-ios {
                        font-size: 1.25em;
                        font-weight: 350;
                        color: map-get($colors, 636);
                        text-align: center;
                    }
                    &.title-md {
                        background-position-y: center;
                    }
                }
            }
            .customLeft{
                color: map-get($colors, 5a9);
                font-size: 1.25em;
                background: transparent;
                // width: calc(100% - 36px);
            }
        }
    }
    ion-content {
        .scroll-content{
            padding: 5em 0 7.5em !important;
            ion-list{
                ion-item {
                    .label, .label-ios{
                        margin: 0;
                    }
                    &.item, &.item-block, &.item-ios{
                        padding-left: 0;
                        position: relative;
                        font-size: 1rem;
                    }
                    .content1{
                        display: inline-block;
                        width: 100%;
                        padding: 1em 0.5em 2.5em 3em;

                        &.select {
                            width: 100%;
                        }
                        .day {
                            position: absolute;
                            right: 1em;
                            bottom: 0.5em;
                        }
                        p {
                            line-height: 1.7em;
                            letter-spacing: 0.5px;
                            &:nth-of-type(1) {
                                color:  map-get($colors, 636) ;
                                font-weight: bold;
                                font-size: 1.563em;
                                position: relative;
                                img{
                                    width: 0.8em;
                                    position: absolute;
                                    top: 0.35em;
                                    left: -1.5em;
                                }
                            }
                            &:nth-of-type(2) {
                                font-size: 1.375em;
                                color:  map-get($colors, 989) ;
                            }
                            &:nth-of-type(3) {
                                font-size: 1.375em;
                                color:  map-get($colors, 989) ;
                            }
                            &:nth-of-type(4) {
                                font-size: 1.375em;
                                color:  map-get($colors, 989) ;
                                float: right;
                            }
                        }
                    }
                    &.selectMode {
                        .checkbox {
                            display: inline-block;
                            width: 26px;
                            height: 26px;
                            vertical-align: middle;
                            background: url(../assets/icon/checking_checkbox_n.png) no-repeat center;
                            background-size: contain;
                            margin: 1rem;
                            &.active {
                                background: url(../assets/icon/checking_checkbox_h.png) no-repeat center;
                                background-size: contain;
                            }
                        }
                        .content1 {
                            width: calc(100% - 30px - 2rem);
                        }
                    }
                    &.deleteBtn {
                        background-color: #FF5D37;
                        
                        .content1 {
                            text-align: center;
                            padding: 1.5em;
                            p {
                                color: white;
                            }
                        }
                    }
                }
                .customerservice{
                    position: fixed;
                    bottom: 6em;
                    right: 1em;
                    z-index: 10000;
                }
                .fixed-content{
                    margin: 0;
                }
        
                &.content-ios, &.content{
                    background-color: map-get($colors, f5f);
                    .scroll-content{
                        padding: 0 0 5.5em;
                    }
                }
            }
        }
        .option {
            width: 100%;
            background-color: white;
            padding: 24px 16px 16px 16px;
            .listBt {
                display: flex;
                ion-segment {
                    ion-segment-button {
                        &.segment-button {
                            color: map-get($colors, fff);
                            height: 2.3em;
                            line-height: 2.3em;
                            border-radius: 0 !important;
                            border: 1px solid map-get($colors, fff);
                            background-color: map-get($colors, c9c);
                        }
                        &.left {
                            margin: 0 0.5em 0 0;
                        }
                        &.segment-activated {
                            background-color: map-get($colors, 5a9);
                        }
                    }
                    &:not(:nth-last-child(1)) {
                        // margin: 0 1em 0 0;
                        padding: 0 0.5em 0 0;
                        margin: 0 0.5em 0 0;
                        border-right: 1px solid map-get($colors, 5a9);
                    }
                }
            }
        }
    }
}
