page-order-food {
    ion-header {
        ion-navbar {
            .toolbar-background, .toolbar-background-ios {
                background-color: map-get($colors, fff);
                border: 0 !important;
            }
            .toolbar-content, .toolbar-content-ios {
                ion-title {
                    background: url("../assets/icon/ifeed_2.png") no-repeat bottom right;
                    background-size: 7em;
                    .toolbar-title, .toolbar-title-ios {
                        font-size: 1.25em;
                        font-weight: 350;
                        color: map-get($colors, 636);
                        text-align: center;
                    }
                    &.title-md {
                        background-position-y: center;
                    }
                }
            }
            .customLeft{
                color: map-get($colors, 636);
                font-size: 2.25em;
                background: transparent;
                // width: calc(100% - 36px);
            }
        }
    }
    ion-content{
        &.content-ios, &.content{
            background-color: map-get($colors, f5f);
        }
        font-size: 1.125em;

        .information{
            margin: 0 0 0.5em;
            i{
                color: map-get($colors, 08C);
                font-size: 1.375em;
            }
            .locationSetting{
                margin: 0.5em 0em 0 1.5em;
                ion-list{
                    margin: 0;
                    display: initial;
                    ion-item{
                        height: 2.5em;
                        border: 0 !important;
                        padding: 0;
                        &.location, &.item, &.item-block, &.item-ios, &.item-select{
                            min-height: 0;
                        }
                        .item-inner{
                            padding: 0;
                            ion-select{
                                padding: 0 0.5em;
                                .select-icon-inner{
                                    border: 0;
                                }
                                button{
                                    padding: 0;
                                    border: 1px map-get($colors, D8D) solid;
                                }
                            }
                        } 
                    }
                }
                .location{
                    font-size: 0.875em;
                    color: map-get($colors, 636);
                    -webkit-appearance: none;
                    background: url("../assets/icon/ico_down.png") no-repeat center right 0.5em;
                    background-size: 10px;
                    background-color: map-get($colors, fff); 
                    ion-label{
                        margin: 0;
                    }
                    ion-select{
                        max-width: initial;
                        line-height: 35px;
                    }
                }
                .calendar{
                    font-size: 0.875em;
                    display: inline-block;
                    vertical-align: top;
                    color: map-get($colors, 636);
                    padding: 0 !important;
                    min-height:0;
                    height: 2.5em;
                    width: 67%;
                    background: url("../assets/icon/calender.png") no-repeat center right 0.5em ;
                    background-size: 16px;
                    background-color: map-get($colors, fff);
                    border: 1px map-get($colors, D8D) solid;
                    .item-inner{
                        padding: 0;
                        border: 0;
                        .input-wrapper{
                            ion-label{
                                margin: 0;
                                .weekDay {
                                    width: 100%;
                                    height: 2.5em;
                                    margin: 0 5px;
                                    line-height: 2.5em;
                                }
                            }
                            ion-datetime{
                                padding: 0;
                                .datetime-text{
                                    line-height: 35px;
                                    margin-left: 0.5em;
                                }
                            }
                        }
                    }
                }
                .time{
                    margin: 0 0 0 0.2em;
                    width: 30%;
                    font-size: 0.875em;
                    color: map-get($colors, 636);
                    -webkit-appearance: none;
                    background: url("../assets/icon/ico_down.png") no-repeat center right 0.5em ;
                    background-size: 10px;
                    background-color: map-get($colors, fff);
                    display: inline-block;
                    vertical-align: top;  
                    .item-inner{
                        .input-wrapper{
                            ion-label{
                                margin: 0;
                            }
                            ion-select{
                                max-width: initial;
                                width: 100%;
                                line-height: 35px;
                            }
                        }
                    }
                }
            }
            p{
                display: inline-block;
                vertical-align: top;
                color: map-get($colors, 636);
                margin: 0;
            }

            .orders{
                margin: 0.5em 0em 0 1.6em;
                position: relative;
                font-size: 1em;
                background-color: map-get($colors, fff);
                text-align: center;
                border: 1px map-get($colors, D8D) solid;
                .trash {
                    padding: 0 0 0 0.2em;
                    background-color: white;
                    vertical-align: middle;
                    &:before {
                        position: absolute;
                        top: 0.2em;
                        left: 0.3em;
                        transition: 0.25s ease-in-out;
                        content: '\e985';
                        font-family: 'icomoon';
                        font-weight: normal;
                        font-style: normal;
                        font-size: 2rem;
                        color: map-get($colors, ff5);
                    }
                }
                .food_tit {
                    font-size: 0.875em;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    width: calc(100% - 60px);
                    border-left: 1px map-get($colors, D8D) solid;
                    border-right: 1px map-get($colors, D8D) solid;
                    p {
                        line-height: 2.4em;
                    }
                }
                .switch {
                    padding: 0 0 0 0.2em;
                    background-color: white;
                    vertical-align: middle;
                    &:after {
                        position: absolute;
                        top: 0.3em;
                        right: 0.3em;
                        transition: 0.25s ease-in-out;
                        content: '\e906';
                        font-family: 'icomoon';
                        font-weight: normal;
                        font-style: normal;
                        transform: rotate(-90deg);
                        font-size: 2rem;
                        color: map-get($colors, 08C);
                    }
                    &.turn_on {
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
            .detail{
                background-color: map-get($colors, fff);
                margin: 0 0 0 1.85em;
                border: 1px map-get($colors, D8D) solid;
                border-top: 0px;
                padding: 1.5em 0.7em;
                font-size: 0.875em;
                ion-item{
                    padding: 0;
                    &.item-block{
                        min-height: initial !important;
                    }
                    .item-inner{
                        padding: 0;
                        min-height: auto;
                        border-bottom: 0px;
                        background-image: none;
                        ion-label{
                            &.label, &.label-ios{
                                margin: 0;
                                z-index: 1;
                                ion-list{
                                    border-radius: 0 !important;
                                    &.list, &.list-ios{
                                        margin: 0;
                                        button{
                                            padding: 0;
                                            border: 1px map-get($colors, D8D) solid;
                                            color: map-get($colors, 636);
                                            font-size: 0.813em !important;
                                            background: url(../assets/icon/ico_down.png) no-repeat center right 0.5em;
                                            background-size: 10px;
                                            background-color: map-get($colors, fff);
                                            line-height: 2.3em;
                                            min-height: auto;
                                            height: 2.3em;
                                            .item-inner{
                                                margin-left: 0.5em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .group1{
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;
                    margin: 0.5em 0 0;
                    ion-list{
                        margin: 0;
                    }
                    .package{
                        color: #63656A;
                        font-size: 1em;
                        -webkit-appearance: none;
                        border-color: #D8D8D8;
                        background: url(../assets/icon/ico_down.png) no-repeat center right 0.5em;
                        background-size: 10px;
                        border: 0 !important;
                        height: 2.25em;
                        &.location, &.item, &.item-block, &.item-ios, &.item-select{
                            min-height: 0;
                        }
                        .item-inner{
                            margin: 0.2em 0 0;
                            padding: 0;
                            ion-select{
                                max-width: initial;
                                width: 100%;
                                padding: 0;
                                .select-text{
                                    line-height: 31.19px;
                                    margin-left: 0.5em;
                                }
                                .select-icon-inner{
                                    border: 0;
                                }
                                button{
                                    padding: 0;
                                    border: 1px map-get($colors, D8D) solid;
                                }
                            }
                        }
                    }
                }
                .group2{
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;
                    margin: 0 0 0 0.57em;
                    margin: 0.5em 0 0;
                    .quantity{
                        width: 100%;
                        font-size: 1em;
                        padding: 0 0.5em;
                        color: map-get($colors, 636);
                        -webkit-appearance: none;
                        border-radius: 0px;
                        border-color: map-get($colors, D8D);
                        background-color: map-get($colors, fff);
                        border: 1px map-get($colors, D8D) solid;
                        line-height: 2.15em;
                    }
                }
                .group3{
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    margin: 0.5em 0 0;
                    ion-list{
                        margin: 0;
                    }
                    .package{
                        height: 2.4em;
                        color: #63656A;
                        font-size: 1em;
                        -webkit-appearance: none;
                        border-color: #D8D8D8;
                        border: 1px;
                        background: url(../assets/icon/ico_down.png) no-repeat center right 0.5em;
                        background-size: 10px;
                        margin: 0.2em 0 0.5em;
                        &.location, &.item, &.item-block, &.item-ios, &.item-select{
                            min-height: 0;
                        }
                        .item-inner{
                            margin: 0.2em 0 0;
                            padding: 0;
                            ion-select{
                                max-width: initial;
                                width: 100%;
                                padding: 0;
                                .select-text{
                                    line-height: 31.19px;
                                    margin-left: 0.5em;
                                }
                                .select-icon-inner{
                                    border: 0;
                                }
                                button{
                                    padding: 0;
                                    border: 1px map-get($colors, D8D) solid;
                                }
                            }
                        }
                    }
                }
                .customized{
                    float: right;
                    background-color: map-get($colors, 08C);
                    padding: 0.5em;
                    color: map-get($colors, fff);
                    border-radius: 4px;
                }
                ul{
                    padding: 0 0 0 1em;
                    li{
                        font-size: 0.750em;
                        color: map-get($colors, 989);
                        text-align:justify; 
                        .icon-times{
                            color: map-get($colors, ff5);
                            font-size: 1.7em;
                            display: inline-block;
                            vertical-align: sub;
                        }
                    }
                }
                .only_tit {
                    float: left;
                    display: contents;
                }
            }
            .added{
                margin: 0.5em 0em 0 1.6em;
                button{
                    width: 100%;
                    padding: 0.7em;
                    background-color: map-get($colors, fff);
                    border: 1px map-get($colors, D8D) solid;
                    .icon-plus{
                        p{
                            font-size: 0.875em;
                            color: map-get($colors, 636);
                        }
                    }
                }
            }
            .note{
                margin: 0.5em 0em 0 1.47em;
                .textbox{
                    width: 100%;
                    height: 4.5em;
                    -webkit-appearance: none;
                    border: 1px map-get($colors, D8D) solid;
                    border-radius: 0;
                    padding: 0.5em;
                    font-size: 0.875em;
                    color: map-get($colors, 636);
                }
            }
        }
        .choose{
            text-align: center;
            margin: 1.5em 0 0;
            .cancel{
                background-color: map-get($colors, 8A8);
                color: map-get($colors, fff);
                padding: 0.7em;
                width: 35%;
                border-radius: 3px;
                font-size: 0.875em;
            }
            .determine{
                background-color: map-get($colors, 8AA);
                color: map-get($colors, fff);
                padding: 0.7em;
                width: 35%;
                border-radius: 3px;
                margin: 0 0 0 1em;
                font-size: 0.875em;
            }
        }
    }
     // ipad 768 X 1024
     @media only screen and (min-width: 768px) and (min-height: 1024px){
        ion-content{
            .information{
                .locationSetting{
                    .time{
                        width: 32%;
                    }
                }
            }
        }
    }
    // ipad pro 1024 X 1366
    @media only screen and (min-width: 1024px) and (min-height: 1366px){
        ion-content{
            .information{
                .locationSetting{
                    .time{
                        width: 32%;
                    }
                }
            }
        }
    }
        
    // iphone5/SE 320X568
    @media only screen and (min-width: 320px) and (min-height: 568px){
    }
    // BlackBerry Z30 360X640
    @media only screen and (min-width: 360px) and (min-height: 640px){
        .group1{
            .item-inner{
                .input-wrapper{
                    display: inline-block;
                    ion-select{
                        border: 0;
                    }
                }
            }
        }
    }
    // Nokia Lumia 520 320X533
    @media only screen and (min-width: 320px) and (min-height: 533px){
        .information{
            .locationSetting{
                ion-item{
                    .item-inner{
                        margin: 0 !important;
                        .input-wrapper{
                            margin: 0 !important;
                            ion-datetime{
                                padding: 0 !important;
                                .datetime-text{
                                    border: 0 !important;
                                }
                            }
                            .label-wp{
                                margin: 0;
                            }
                            display: inline-block;
                            ion-select{
                                border: 0;
                                margin: 0;;
                            }
                        }
                    }
                }
            }
            .detail{
                .group1{
                    .item-inner{
                        margin: 0 !important;
                        .input-wrapper{
                            display: inline-block;
                            ion-select{
                                border: 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}