<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
        <button (click)="back()" class="customLeft">
            <i class="icon-arrow-left"></i>
        </button>
    </ion-buttons>
    <ion-title *ngIf="!isEdit">我要訂料</ion-title>
    <ion-title *ngIf="isEdit">修改訂單</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="information" *ngIf="account">
    <i class="icon-user-outline"></i>
    <p>{{account.name}}({{account.id}})</p>
  </div>
  <div class="information">
    <i class="icon-location-outline"></i>
    <p>送貨地點</p>
    <div class="locationSetting">
      <ion-list>
        <ion-item class="location">
          <ion-label></ion-label>
          <ion-select *ngIf="info" [(ngModel)]="foodCart.location" okText="確認" cancelText="取消">
            <ion-option *ngFor="let location of info.shipToOptions" value="{{location.address}}">{{location.address}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

  </div>
  <div class="information">
    <i class="icon-calender"></i>
    <p>到貨日期</p>
    <div class="locationSetting">
      <ion-item class="calendar">
        <!--<ion-datetime displayFormat="YYYY-MM-DD DDD" min="{{canDeliveredTime.canDeliveredDate}}" max="{{canDeliveredMaxDate}}" doneText="確認" cancelText="取消" [(ngModel)]="foodCart.date" (ngModelChange)="onTimeChange()">
          <ion-icon name="calendar" item-start></ion-icon>
        </ion-datetime>-->
        <div class="weekDay" (click)="openCalendarModal()">{{weekDay}}</div>
      </ion-item>
      <ion-list>
        <ion-item class="time">
          <ion-label></ion-label>
          <ion-select [(ngModel)]="foodCart.time" interface="popover" okText="確認" cancelText="取消">
            <ion-option *ngFor="let canDeliveredyHour of canDeliveredTime.canDeliveredyHours" value="{{canDeliveredyHour}}">{{canDeliveredyHour}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="information">
    <i class="icon-clipboard"></i>
    <p>訂單內容</p>
    <div *ngFor="let food of foodCart.foods">
      <div class="orders">
        <!-- <div class="side1" (click)="deleteFood(food)">
          <i class="icon-trash"></i>
        </div> -->
        <div class="trash" (click)="deleteFood(food)"></div>
        <div class="food_tit">
          <p *ngIf="food.name == null">請選擇飼料</p>
          <p *ngIf="food.code && food.name">{{food.code}} - {{food.name}}</p>
        </div>
        <div class="switch" [ngClass]="{true: 'turn_on'}[food.isOpen]" (click)="openFood(food)"></div>
        <!-- <div class="side2" (click)="openFood(food)">
          <img *ngIf="!food.isOpen" class="angleDown" src="assets/icon/angle-down.png" /> 
          <img *ngIf="food.isOpen" class="angleDown" src="assets/icon/angle-up.png" /> 
        </div> -->
      </div>
      <div class="detail" *ngIf="food.isOpen">
        <p>飼料代號/飼料名稱</p>
        <ion-item>
          <ion-list inset *ngIf="info">
            <button ion-item (click)="openFoodModal(food)">
              {{ food.name }}
            </button>
          </ion-list>
        </ion-item>
        <div class="group1">
          <p>散裝/包裝</p>
          <ion-list>
            <ion-item class="package">
              <ion-label></ion-label>
              <ion-select *ngIf="info" [(ngModel)]="food.unit" okText="確認" cancelText="取消">
                <ion-option *ngFor="let package of packages" value="{{package.value}}">{{package.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div class="group2">
          <p>噸數/包數</p>
          <input type="number" class="quantity" [(ngModel)]="food.count"/>
        </div>
        <div class="group3">
          <p>生產規格</p>
          <ion-list>
            <ion-item class="package">
              <ion-label></ion-label>
              <ion-select *ngIf="info" [(ngModel)]="food.spec" okText="確認" cancelText="取消">
                <ion-option *ngFor="let spec of specs" value="{{spec.value}}">{{spec.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <p class="only_tit">特配單</p>
        <button class="customized" (click)="openSpecailOrderModal(food)">新增特配</button>
        <ul *ngIf="food.detailSP && food.detailSP.drugCompanyList">
          <li *ngFor="let drug of food.detailSP.drugCompanyList">
            公司 / {{drug.code}} / {{drug.name}} / {{drug.count1kg}}kg每噸
            <i class="icon-times" (click)="deleteSpecialOrder(food, 'COMPANY', drug)"></i>
          </li>
        </ul>
        <ul *ngIf="food.detailSP && food.detailSP.drugSelfList">
          <li *ngFor="let drug of food.detailSP.drugSelfList">
            自備 / {{drug.code}} / {{drug.name}} / {{drug.count1kg}}kg每噸
            <i class="icon-times" (click)="deleteSpecialOrder(food, 'SELF', drug)"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="added">
      <button (click)="addFood()">
        <i class="icon-plus">
          <p>新增選料</p>
        </i>
      </button>
    </div>
  </div>
  <div class="information">
      <i class="icon-message"></i>
    <p>訂單備註</p>
    <div class="note">
      <textarea class="textbox" [(ngModel)]="foodCart.note"></textarea>
    </div>
  </div>
  <div class="choose">
    <button class="cancel" (click)="cancel()">取消</button>
    <button class="determine" (click)="confirm()">確定</button>
  </div>
</ion-content>