<ion-header>
  <page-header></page-header>
    <div class="prompt">
        <p>非顧客使用者本註冊功能不提供服務</p>
        <p class="error">{{errorMsg}}</p>
    </div>
</ion-header>
<ion-content>
  <form [formGroup]="editForm">
    <div class="user">
        <p>您的客戶編號或業務編號</p>
        <ion-input type="text" [(ngModel)]="activateData.userId" formControlName="userId"></ion-input>
        <div class="error" *ngIf="editForm.get('userId').hasError('required') && editForm.get('userId').touched">
            請輸入帳號
        </div>
        <p>設定您的密碼</p>
        <ion-input type="password" [(ngModel)]="activateData.password" formControlName="password"></ion-input>
        <div class="error" *ngIf="editForm.get('password').hasError('required') && editForm.get('password').touched">
            請輸入密碼
        </div>
        <p>再次確認您的密碼</p>
        <ion-input type="password" [(ngModel)]="activateData.confirmPassword" formControlName="confirmPassword"></ion-input>
        <div class="error" *ngIf="editForm.get('confirmPassword').hasError('required') && editForm.get('confirmPassword').touched">
            請輸入密碼
        </div>
    </div>
  </form>
  <div class="determine">
      <button class="contact" (click)="call()">聯繫客服</button>
      <button class="open" ion-button (click)="goOtp()">進行開通</button>
  </div>
  <div class="note">
    <p>第一次使用請先聯繫業務或客服人員</p>
    <p>我們確認您的個人資料後，方能註冊</p>
    <p style="display:none"><a id="activatePhone" href="tel:{{phone}}"></a></p>
  </div>
</ion-content>