page-activate {
    ion-header {
        .prompt{
            margin: 1em 0;
            p{
                font-size: 1em;
                font-weight: bold;
                color: map-get($colors, 989);
                margin: 0;
                text-align: center;
            }
            .error{
                color: map-get($colors, ff5);
                margin: 0.5em 0 0;
            }
        }
    }
    ion-content{
        .scroll-content{
            margin-top: 15em !important;
        }
        &.content, &.content-ios{
            background-color: map-get($colors, f5f);
            .scroll-content{
                overflow-y: auto;
            }
        }
        .user{
            color: map-get($colors, 636);
            font-size: 1em;
            padding: 0 2em;
            margin: 1em 0 0;

            p {
                margin: 0;
            }
            input{
                -webkit-appearance: none;
                width: 100%;
                height: 2.5em;
                background-color: map-get($colors, fff);
                border: 1px map-get($colors, D8D) solid; 
                border-radius: 3px;
                padding: 0.2em 0.5em;
                margin: 0.5em 0 0;
            }
            .error{
                color: map-get($colors, ff5);
                margin: 0 0 1em;
            }
        }
        .determine{
            padding: 0 2em;
            text-align: center;
            button{
                color: map-get($colors, fff);
                font-size: 1em;
                width: 45%;
                height: 3em;
                border-radius: 3px;
                vertical-align: top;
                &.contact{
                    background-color: map-get($colors, ABA);
                    margin: 1.5em 0 1em;
                }
                &.open{
                    background-color: map-get($colors, 638);
                    margin: 1.5em 0 1em 0.3em;
                }
            }
        }
        .note{
            font-size: 0.875em;
            color: map-get($colors, 8A8);
            text-align: center;
            p{
                margin: 0;
            }
        }
    }

    // Nexus 5 360 X 567 (虛擬鍵盤)
    @media only screen and (min-width: 360px) and (min-height: 567px){
        ion-content {
            .scroll-content {
                margin-top: 15em !important;
            }
        }
    }
    // Galaxy note3 360 X 640
    @media only screen and (min-width: 360px) and (min-height: 640px){
        ion-content {
            .scroll-content {
                margin-top: 15em !important;
            }
        }
    }
    // iphone6/7/8 375 X 667
    @media only screen and (min-width: 375px) and (min-height: 667px){
        ion-content {
            .scroll-content {
                margin-top: 16em !important;
            }
        }
    }
    // iphoneX 375 X 812
    @media only screen and (min-width: 375px) and (min-height: 812px){
        ion-content {
        }
    }
    // Pixel 2L 411 X 823
    @media only screen and (min-width: 375px) and (min-height: 823px){
        ion-content {
        }
    }
    // Nexus 5X 412 X 660 (虛擬鍵盤)
    @media only screen and (min-width: 412px) and (min-height: 660px){
        ion-content {
        }
    }
    // Nexus 6 412 X 732
    @media only screen and (min-width: 412px) and (min-height: 732px){
        ion-content {
        }
    }
    // iphone6/7/8 plus 414 X 736
    @media only screen and (min-width: 414px) and (min-height: 736px){
        ion-content {
            .scroll-content {
                margin-top: 17em !important;
            }
        }
    }
    // Nokia N9 X 854
    @media only screen and (min-width: 480px) and (min-height: 854px){
        ion-content {
            .scroll-content {
                margin-top: 17em !important;
            }
        }
    }
    // Nexus7 600 X 960
    @media only screen and (min-width: 600px) and (min-height: 960px){
        ion-content {
            .scroll-content {
                margin-top: 18em !important;
            }
        }
    }
    // blackberry playbook 600 X 1024
    @media only screen and (min-width: 600px) and (min-height: 1024px){
        ion-content {
        }
    }
    // ipad 768 X 1024
    @media only screen and (min-width: 768px) and (min-height: 1024px){
        ion-content {
            .scroll-content {
                margin-top: 20em !important;
            }
        }
    }
    // ipad pro 1024 X 1366
    @media only screen and (min-width: 1024px) and (min-height: 1366px){
        ion-content {
        }
    }
}
