<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content>
  <div class="prompt">
      <p>動態密碼已發送！</p>
      <p>請輸入揪簡訊中四位數動態密碼</p>
      <!--<p class="error">驗證錯誤！</p>-->
      <p class="error">{{errorMsg}}</p>
  </div>
  <div class="verification">
    <input type="tel" #textBox1 maxlength="1" [(ngModel)]="otp1" (ngModelChange)="autoTab(1)"/>
    <input type="tel" #textBox2 maxlength="1" [(ngModel)]="otp2" (ngModelChange)="autoTab(2)"/>
    <input type="tel" #textBox3 maxlength="1" [(ngModel)]="otp3" (ngModelChange)="autoTab(3)"/>
    <input type="tel" #textBox4 maxlength="1" [(ngModel)]="otp4" (ngModelChange)="autoTab(4)"/>
  </div>
  <div class="determine">
      <button (click)="enableAccount()">確定開通</button>
  </div>
</ion-content>