page-otp {
    ion-content{
        overflow-y: hidden;
        .scroll-content{
            margin-top: 13em !important;
        }
        &.content, &.content-ios{
            background-color: map-get($colors, f5f);
            .scroll-content{
                overflow-y: hidden;
            }
        }
        .prompt{
            margin: 2em 0;
            p{
                font-size: 1em;
                font-weight: bold;
                color: map-get($colors, 989);
                margin: 0;
                text-align: center;
            }
            .error{
                color: map-get($colors, ff5);
                margin: 0.5em 0 0;
            }
        }
        .verification{
            text-align: center;
            margin: 6em 0 0;
            input{
                -webkit-appearance: none;
                width: 16%;
                height: 1.5em;
                border: 0;
                background-color: transparent;
                border-bottom: 1px map-get($colors, D8D) solid;
                border-radius: 0px;
                padding: 0 0.88em;
                margin: 0 0.3em;
                font-size: 1.563em;
            }
        }
        .determine{
            text-align: center;
            padding: 0 2em;
            button{
                color: map-get($colors, fff);
                font-size: 0.938em;
                width: 100%;
                height: 3em;
                border-radius: 3px;
                margin: 3em 0.2em 1em;
                padding: 0;
                background-color: map-get($colors, 638);
            }
        }
        .note{
            font-size: 0.875em;
            color: map-get($colors, 8A8);
            text-align: center;
            p{
                margin: 0;
                display: inline-block;
                vertical-align: top;
                &.again{
                    margin: 0 0 0 1em;
                    color: map-get($colors, 08C);
                    font-weight: bolder;
                }
            }
        }
    }

    // Nexus 5 360 X 567 (虛擬鍵盤)
    @media only screen and (min-width: 360px) and (min-height: 567px){
        ion-content {
            .scroll-content {
                margin-top: 14em !important;
            }
        }
    }
    // Galaxy note3 360 X 640
    @media only screen and (min-width: 360px) and (min-height: 640px){
        ion-content {
            .scroll-content {
                margin-top: 14em !important;
            }
        }
    }
    // iphone6/7/8 375 X 667
    @media only screen and (min-width: 375px) and (min-height: 667px){
        ion-content {
            .scroll-content {
                margin-top: 15em !important;
            }
        }
    }
    // iphoneX 375 X 812
    @media only screen and (min-width: 375px) and (min-height: 812px){
        ion-content {
        }
    }
    // Pixel 2L 411 X 823
    @media only screen and (min-width: 375px) and (min-height: 823px){
        ion-content {
        }
    }
    // Nexus 5X 412 X 660 (虛擬鍵盤)
    @media only screen and (min-width: 412px) and (min-height: 660px){
        ion-content {
        }
    }
    // Nexus 6 412 X 732
    @media only screen and (min-width: 412px) and (min-height: 732px){
        ion-content {
        }
    }
    // iphone6/7/8 plus 414 X 736
    @media only screen and (min-width: 414px) and (min-height: 736px){
        ion-content {
            .scroll-content {
                margin-top: 16em !important;
            }
        }
    }
    // Nokia N9 X 854
    @media only screen and (min-width: 480px) and (min-height: 854px){
        ion-content {
            .scroll-content {
                margin-top: 16em !important;
            }
        }
    }
    // Nexus7 600 X 960
    @media only screen and (min-width: 600px) and (min-height: 960px){
        ion-content {
            .scroll-content {
                margin-top: 17em !important;
            }
        }
    }
    // blackberry playbook 600 X 1024
    @media only screen and (min-width: 600px) and (min-height: 1024px){
        ion-content {
        }
    }
    // ipad 768 X 1024
    @media only screen and (min-width: 768px) and (min-height: 1024px){
        ion-content {
            .scroll-content {
                margin-top: 19em !important;
            }
        }
    }
    // ipad pro 1024 X 1366
    @media only screen and (min-width: 1024px) and (min-height: 1366px){
        ion-content {
        }
    }
}
