<ion-header>
    <ion-navbar hideBackButton="true" color="transparent">
        <ion-buttons left *ngIf="!isHideBack">
            <button (click)="back()">
                <i class="icon-arrow-left"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
    <img class="logo2" src="assets/icon/ifeed_1.png"/>
</ion-header>