page-header {
    ion-header{
        position: relative;
        ion-navbar{
            i{
                color: map-get($colors, 636);
                font-size: 2.25em;
            }
            .toolbar-background {
                background: url("../assets/icon/Cargill_logo.png") no-repeat bottom right 0.5em transparent;
                background-size: 5em;
            }
            button{
                background: transparent;
            }
        }
    }
    .logo2{
        width: 50%;
        max-width: 300px;
        height: auto;
        margin: 3em auto 0;
        display: block;
    }
}
