<ion-header>
    <ion-navbar>
      <ion-title>選擇日期</ion-title>
      <i class="icon-times" (click)="back()"></i>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-calendar [(ngModel)]="date"
      [options]="optionsRange"
      (onChange)="onChange($event)"
      [type]="type"
      [format]="'YYYY-MM-DD'">
    </ion-calendar>
    <div class="options">
      <button class="cancel" ion-button (click)="back()">取消</button>
      <button class="determine" ion-button (click)="closeModal()">確定</button>
    </div>
  </ion-content>