<ion-content>
  <ion-slides #slides *ngIf="slideDatas&&slideDatas.length > 0" (click)="goSlideLink()" loop="true" autoplay="7000" speed="300" pager="true" (ionSlideAutoplayStop)="ionSlideAutoplayStop()">
    <ion-slide *ngFor="let slideData of slideDatas">
        <img [src]="slideURLPrefix + slideData.file">
    </ion-slide>
  </ion-slides>
  <div class="operating">
    <button (click)="goLogin()">會員登入</button>
    <div class="link">
      <p (click)="goActivate()">開通帳號</p>
      <p (click)="call()">聯繫客服</p>
    </div>
    <div class="note">
      <p>還無法使用?</p>
      <p>第一次使用請先聯繫業務或客服人員！</p>
      <p>業務同仁請洽詢公司內部使用方式！</p>
      <p style="display:none"><a id="portalPhone" href="tel:{{phone}}"></a></p>
    </div>
  </div>
  
</ion-content>