page-portal {
    overflow-y: hidden;
    ion-content{
        &.content, &.content-ios{
            background-color: map-get($colors, f5f);
            .scroll-content{
                overflow-y: hidden;
            }
        }
        ion-slides{
            height: 70%;
            img{
                background-size: cover;
                width: 100% !important;
            }
            .swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets{
                .swiper-pagination-bullet-active{
                    background: map-get($colors, fff) !important;
                    border: 1px solid map-get($colors, 979) !important;
                    opacity: 1;
                }
                .swiper-pagination-bullet{
                    background: map-get($colors, 9b9);
                    opacity: 1;
                }

            }
        }
        .slide-zoom{
            height: 100%;
        }
        .operating{
            padding: 0 2em;
            background-color: map-get($colors, f5f);
            .note{
                font-size: 0.875em;
                color: map-get($colors, 989);
                margin: 0 0 1em;
                p{
                    margin: 0;
                }
            }
            button{
                background-color: map-get($colors, 638);
                height: 3em;
                width: 100%;
                border-radius: 3px;
                color: map-get($colors, fff);
                font-size: 1em;
                margin: 1em 0 0;
            }
            .link{
                text-align: center;
                p{
                    display: inline-block;
                    vertical-align: top;
                    margin: 1em 2em;
                    position: relative;
                    font-size: 1em;
                    font-weight: bold;
                    color: map-get($colors, 638);
                }
                & p:not(:nth-last-child(1)):after{
                    content: "|";
                    position: absolute;
                    margin: 0 2em;
                    color: map-get($colors, 989);
                }
            }
        }
    }

    // Galaxy note3 360 X 640
    @media only screen and (min-width: 360px) and (min-height: 640px){
        ion-content {
            ion-slides {
                height: 73%;
            }
        }
    }
    // iphone6/7/8 375 X 667
    @media only screen and (min-width: 375px) and (min-height: 667px){
        ion-content {
            ion-slides {
                height: 73%;
            }
        }
    }
    // iphoneX 375 X 812
    @media only screen and (min-width: 375px) and (min-height: 812px){
        ion-content {
            ion-slides {
                height: 60%;
            }
            .operating {
                button {
                    margin: 2em 0 1em;
                }
                .note {
                    margin: 1em 0;
                }
            }
        }
    }
    // Pixel 2L 411 X 823
    @media only screen and (min-width: 375px) and (min-height: 812px){
        ion-content {
            ion-slides {
                height: 65%;
            }
            .operating {
                button {
                    margin: 2em 0 1em;
                }
                .note {
                    margin: 1em 0;
                }
            }
        }
    }
    // Nexus 5X 412 X 732
    @media only screen and (min-width: 412px) and (min-height: 732px){
        ion-content {
            ion-slides {
                height: 74%;
            }
        }
    }
    // iphone6/7/8 plus 414 X 736
    @media only screen and (min-width: 414px) and (min-height: 736px){
        ion-content {
            ion-slides {
                height: 73%;
            }
        }
    }
    // Nokia N9 X 854
    @media only screen and (min-width: 480px) and (min-height: 854px){
        ion-content {
            ion-slides {
                height: 76%;
            }
            .operating {
                button {
                    margin: 2em 0 1em;
                }
                .note {
                    margin: 0 0 1em;
                }
            }
        }
    }
    // Nexus7 600 X 960
    @media only screen and (min-width: 600px) and (min-height: 960px){
        ion-content {
            ion-slides {
                height: 77%;
            }
        }
    }
    // blackberry playbook 600 X 1024
    @media only screen and (min-width: 600px) and (min-height: 1024px){
        ion-content {
            ion-slides {
                height: 76%;
            }
        }
    }
    // ipad 768 X 1024
    @media only screen and (min-width: 768px) and (min-height: 1024px){
        ion-content {
            ion-slides {
                height: 83%;
            }
            .operating {
                button {
                    margin: 1em 0 0;
                }
                .note {
                    margin: 0 0 1em;
                }
            }
        }
    }
    // ipad pro 1024 X 1366
    @media only screen and (min-width: 1024px) and (min-height: 1366px){
        ion-content {
            ion-slides {
                height: 87%;
            }
        }
    }
}