@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?azchbe');
  src:  url('../assets/fonts/icomoon.eot?azchbe#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?azchbe') format('truetype'),
    url('../assets/fonts/icomoon.woff?azchbe') format('woff'),
    url('../assets/fonts/icomoon.svg?azchbe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .icon-#{$arg}:before ,
  .ion-ios-icon-#{$arg}:before ,
  .ion-ios-icon-#{$arg}-outline:before ,
  .ion-md-icon-#{$arg}:before ,
  .ion-md-icon-#{$arg}-outline:before  {
    content: $val;
  }
}

@include makeIcon(times, '\e900');
@include makeIcon(tick, '\e901');
@include makeIcon(plus, '\e902');
@include makeIcon(minus, '\e903');
@include makeIcon(equals, '\e904');
@include makeIcon(divide, '\e905');
@include makeIcon(chevron-right, '\e906');
@include makeIcon(chevron-left, '\e907');
@include makeIcon(arrow-right-thick, '\e908');
@include makeIcon(arrow-left-thick, '\e909');
@include makeIcon(th-small, '\e90a');
@include makeIcon(th-menu, '\e90b');
@include makeIcon(th-list, '\e90c');
@include makeIcon(th-large, '\e90d');
@include makeIcon(home, '\e90e');
@include makeIcon(arrow-forward, '\e90f');
@include makeIcon(arrow-back, '\e910');
@include makeIcon(rss, '\e911');
@include makeIcon(location, '\e912');
@include makeIcon(link, '\e913');
//@include makeIcon(image, '\e914');
@include makeIcon(arrow-up-thick, '\e915');
@include makeIcon(arrow-down-thick, '\e916');
@include makeIcon(starburst, '\e917');
@include makeIcon(starburst-outline, '\e918');
@include makeIcon(star, '\e919');
@include makeIcon(flow-children, '\e91a');
@include makeIcon(export, '\e91b');
@include makeIcon(delete, '\e91c');
@include makeIcon(delete-outline, '\e91d');
@include makeIcon(cloud-storage, '\e91e');
@include makeIcon(wi-fi, '\e91f');
@include makeIcon(heart, '\e920');
@include makeIcon(flash, '\e921');
@include makeIcon(cancel, '\e922');
@include makeIcon(backspace, '\e923');
//@include makeIcon(attachment, '\e924');
@include makeIcon(arrow-move, '\e925');
@include makeIcon(warning, '\e926');
@include makeIcon(user, '\e927');
@include makeIcon(radar, '\e928');
@include makeIcon(lock-open, '\e929');
@include makeIcon(lock-closed, '\e92a');
@include makeIcon(location-arrow, '\e92b');
@include makeIcon(info, '\e92c');
@include makeIcon(user-delete, '\e92d');
@include makeIcon(user-add, '\e92e');
@include makeIcon(media-pause, '\e92f');
@include makeIcon(group, '\e930');
@include makeIcon(chart-pie, '\e931');
@include makeIcon(chart-line, '\e932');
@include makeIcon(chart-bar, '\e933');
@include makeIcon(chart-area, '\e934');
@include makeIcon(video, '\e935');
@include makeIcon(point-of-interest, '\e936');
@include makeIcon(infinity, '\e937');
@include makeIcon(globe, '\e938');
@include makeIcon(eye, '\e939');
@include makeIcon(cog, '\e93a');
@include makeIcon(camera, '\e93b');
@include makeIcon(upload, '\e93c');
@include makeIcon(scissors, '\e93d');
@include makeIcon(refresh, '\e93e');
@include makeIcon(pin, '\e93f');
@include makeIcon(key, '\e940');
@include makeIcon(info-large, '\e941');
@include makeIcon(eject, '\e942');
@include makeIcon(download, '\e943');
@include makeIcon(zoom, '\e944');
@include makeIcon(zoom-out, '\e945');
@include makeIcon(zoom-in, '\e946');
@include makeIcon(sort-numerically, '\e947');
@include makeIcon(sort-alphabetically, '\e948');
@include makeIcon(input-checked, '\e949');
@include makeIcon(calender, '\e94a');
@include makeIcon(world, '\e94b');
@include makeIcon(notes, '\e94c');
@include makeIcon(code, '\e94d');
@include makeIcon(arrow-sync, '\e94e');
@include makeIcon(arrow-shuffle, '\e94f');
@include makeIcon(arrow-repeat, '\e950');
@include makeIcon(arrow-minimise, '\e951');
@include makeIcon(arrow-maximise, '\e952');
@include makeIcon(arrow-loop, '\e953');
@include makeIcon(anchor, '\e954');
@include makeIcon(spanner, '\e955');
@include makeIcon(puzzle, '\e956');
@include makeIcon(power, '\e957');
@include makeIcon(plane, '\e958');
@include makeIcon(pi, '\e959');
@include makeIcon(phone, '\e95a');
@include makeIcon(microphone, '\e95b');
@include makeIcon(media-rewind, '\e95c');
@include makeIcon(flag, '\e95d');
@include makeIcon(adjust-brightness, '\e95e');
@include makeIcon(waves, '\e95f');
@include makeIcon(social-twitter, '\e960');
@include makeIcon(social-facebook, '\e961');
@include makeIcon(social-dribbble, '\e962');
@include makeIcon(media-stop, '\e963');
@include makeIcon(media-record, '\e964');
@include makeIcon(media-play, '\e965');
@include makeIcon(media-fast-forward, '\e966');
@include makeIcon(media-eject, '\e967');
@include makeIcon(social-vimeo, '\e968');
@include makeIcon(social-tumbler, '\e969');
@include makeIcon(social-skype, '\e96a');
@include makeIcon(social-pinterest, '\e96b');
@include makeIcon(social-linkedin, '\e96c');
@include makeIcon(social-last-fm, '\e96d');
@include makeIcon(social-github, '\e96e');
@include makeIcon(social-flickr, '\e96f');
@include makeIcon(at, '\e970');
@include makeIcon(times-outline, '\e971');
@include makeIcon(plus-outline, '\e972');
@include makeIcon(minus-outline, '\e973');
@include makeIcon(tick-outline, '\e974');
@include makeIcon(th-large-outline, '\e975');
@include makeIcon(equals-outline, '\e976');
@include makeIcon(divide-outline, '\e977');
@include makeIcon(chevron-right-outline, '\e978');
@include makeIcon(chevron-left-outline, '\e979');
@include makeIcon(arrow-right-outline, '\e97a');
@include makeIcon(arrow-left-outline, '\e97b');
@include makeIcon(th-small-outline, '\e97c');
@include makeIcon(th-menu-outline, '\e97d');
@include makeIcon(th-list-outline, '\e97e');
@include makeIcon(news, '\e97f');
@include makeIcon(home-outline, '\e980');
@include makeIcon(arrow-up-outline, '\e981');
@include makeIcon(arrow-forward-outline, '\e982');
@include makeIcon(arrow-down-outline, '\e983');
@include makeIcon(arrow-back-outline, '\e984');
@include makeIcon(trash, '\e985');
@include makeIcon(rss-outline, '\e986');
@include makeIcon(message, '\e987');
@include makeIcon(location-outline, '\e988');
@include makeIcon(link-outline, '\e989');
@include makeIcon(image-outline, '\e98a');
@include makeIcon(export-outline, '\e98b');
@include makeIcon(cross, '\e98c');
@include makeIcon(wi-fi-outline, '\e98d');
@include makeIcon(star-outline, '\e98e');
@include makeIcon(media-pause-outline, '\e98f');
@include makeIcon(mail, '\e990');
@include makeIcon(heart-outline, '\e991');
@include makeIcon(flash-outline, '\e992');
@include makeIcon(cancel-outline, '\e993');
@include makeIcon(beaker, '\e994');
@include makeIcon(arrow-move-outline, '\e995');
@include makeIcon(watch, '\e996');
@include makeIcon(warning-outline, '\e997');
@include makeIcon(time, '\e998');
@include makeIcon(radar-outline, '\e999');
@include makeIcon(lock-open-outline, '\e99a');
@include makeIcon(location-arrow-outline, '\e99b');
@include makeIcon(info-outline, '\e99c');
@include makeIcon(backspace-outline, '\e99d');
@include makeIcon(attachment-outline, '\e99e');
@include makeIcon(user-outline, '\e99f');
@include makeIcon(user-delete-outline, '\e9a0');
@include makeIcon(user-add-outline, '\e9a1');
@include makeIcon(lock-closed-outline, '\e9a2');
@include makeIcon(group-outline, '\e9a3');
@include makeIcon(chart-pie-outline, '\e9a4');
@include makeIcon(chart-line-outline, '\e9a5');
@include makeIcon(chart-bar-outline, '\e9a6');
@include makeIcon(chart-area-outline, '\e9a7');
@include makeIcon(video-outline, '\e9a8');
@include makeIcon(point-of-interest-outline, '\e9a9');
@include makeIcon(map, '\e9aa');
@include makeIcon(key-outline, '\e9ab');
@include makeIcon(infinity-outline, '\e9ac');
@include makeIcon(globe-outline, '\e9ad');
@include makeIcon(eye-outline, '\e9ae');
@include makeIcon(cog-outline, '\e9af');
@include makeIcon(camera-outline, '\e9b0');
@include makeIcon(upload-outline, '\e9b1');
@include makeIcon(support, '\e9b2');
@include makeIcon(scissors-outline, '\e9b3');
@include makeIcon(refresh-outline, '\e9b4');
@include makeIcon(info-large-outline, '\e9b5');
@include makeIcon(eject-outline, '\e9b6');
@include makeIcon(download-outline, '\e9b7');
@include makeIcon(battery-mid, '\e9b8');
@include makeIcon(battery-low, '\e9b9');
@include makeIcon(battery-high, '\e9ba');
@include makeIcon(zoom-outline, '\e9bb');
@include makeIcon(zoom-out-outline, '\e9bc');
@include makeIcon(zoom-in-outline, '\e9bd');
@include makeIcon(tag, '\e9be');
@include makeIcon(tabs-outline, '\e9bf');
@include makeIcon(pin-outline, '\e9c0');
@include makeIcon(message-typing, '\e9c1');
@include makeIcon(directions, '\e9c2');
@include makeIcon(battery-full, '\e9c3');
@include makeIcon(battery-charge, '\e9c4');
@include makeIcon(pipette, '\e9c5');
@include makeIcon(pencil, '\e9c6');
@include makeIcon(folder, '\e9c7');
@include makeIcon(folder-delete, '\e9c8');
@include makeIcon(folder-add, '\e9c9');
@include makeIcon(edit, '\e9ca');
@include makeIcon(document, '\e9cb');
@include makeIcon(document-delete, '\e9cc');
@include makeIcon(document-add, '\e9cd');
@include makeIcon(brush, '\e9ce');
@include makeIcon(thumbs-up, '\e9cf');
@include makeIcon(thumbs-down, '\e9d0');
@include makeIcon(pen, '\e9d1');
@include makeIcon(sort-numerically-outline, '\e9d2');
@include makeIcon(sort-alphabetically-outline, '\e9d3');
@include makeIcon(social-last-fm-circular, '\e9d4');
@include makeIcon(social-github-circular, '\e9d5');
@include makeIcon(compass, '\e9d6');
@include makeIcon(bookmark, '\e9d7');
@include makeIcon(input-checked-outline, '\e9d8');
@include makeIcon(code-outline, '\e9d9');
@include makeIcon(calender-outline, '\e9da');
@include makeIcon(business-card, '\e9db');
@include makeIcon(arrow-up, '\e9dc');
@include makeIcon(arrow-sync-outline, '\e9dd');
@include makeIcon(arrow-right, '\e9de');
@include makeIcon(arrow-repeat-outline, '\e9df');
@include makeIcon(arrow-loop-outline, '\e9e0');
@include makeIcon(arrow-left, '\e9e1');
@include makeIcon(flow-switch, '\e9e2');
@include makeIcon(flow-parallel, '\e9e3');
@include makeIcon(flow-merge, '\e9e4');
@include makeIcon(document-text, '\e9e5');
@include makeIcon(clipboard, '\e9e6');
@include makeIcon(calculator, '\e9e7');
@include makeIcon(arrow-minimise-outline, '\e9e8');
@include makeIcon(arrow-maximise-outline, '\e9e9');
@include makeIcon(arrow-down, '\e9ea');
@include makeIcon(gift, '\e9eb');
@include makeIcon(film, '\e9ec');
@include makeIcon(database, '\e9ed');
@include makeIcon(bell, '\e9ee');
@include makeIcon(anchor-outline, '\e9ef');
@include makeIcon(adjust-contrast, '\e9f0');
@include makeIcon(world-outline, '\e9f1');
@include makeIcon(shopping-bag, '\e9f2');
@include makeIcon(power-outline, '\e9f3');
@include makeIcon(notes-outline, '\e9f4');
@include makeIcon(device-tablet, '\e9f5');
@include makeIcon(device-phone, '\e9f6');
@include makeIcon(device-laptop, '\e9f7');
@include makeIcon(device-desktop, '\e9f8');
@include makeIcon(briefcase, '\e9f9');
@include makeIcon(stopwatch, '\e9fa');
@include makeIcon(spanner-outline, '\e9fb');
@include makeIcon(puzzle-outline, '\e9fc');
@include makeIcon(printer, '\e9fd');
@include makeIcon(pi-outline, '\e9fe');
@include makeIcon(lightbulb, '\e9ff');
@include makeIcon(flag-outline, '\ea00');
@include makeIcon(contacts, '\ea01');
@include makeIcon(archive, '\ea02');
@include makeIcon(weather-stormy, '\ea03');
@include makeIcon(weather-shower, '\ea04');
@include makeIcon(weather-partly-sunny, '\ea05');
@include makeIcon(weather-downpour, '\ea06');
@include makeIcon(weather-cloudy, '\ea07');
@include makeIcon(plane-outline, '\ea08');
@include makeIcon(phone-outline, '\ea09');
@include makeIcon(microphone-outline, '\ea0a');
@include makeIcon(weather-windy, '\ea0b');
@include makeIcon(weather-windy-cloudy, '\ea0c');
@include makeIcon(weather-sunny, '\ea0d');
@include makeIcon(weather-snow, '\ea0e');
@include makeIcon(weather-night, '\ea0f');
@include makeIcon(media-stop-outline, '\ea10');
@include makeIcon(media-rewind-outline, '\ea11');
@include makeIcon(media-record-outline, '\ea12');
@include makeIcon(media-play-outline, '\ea13');
@include makeIcon(media-fast-forward-outline, '\ea14');
@include makeIcon(media-eject-outline, '\ea15');
@include makeIcon(wine, '\ea16');
@include makeIcon(waves-outline, '\ea17');
@include makeIcon(ticket, '\ea18');
@include makeIcon(tags, '\ea19');
@include makeIcon(plug, '\ea1a');
@include makeIcon(headphones, '\ea1b');
@include makeIcon(credit-card, '\ea1c');
@include makeIcon(coffee, '\ea1d');
@include makeIcon(book, '\ea1e');
@include makeIcon(beer, '\ea1f');
@include makeIcon(volume, '\ea20');
@include makeIcon(volume-up, '\ea21');
@include makeIcon(volume-mute, '\ea22');
@include makeIcon(volume-down, '\ea23');
@include makeIcon(social-vimeo-circular, '\ea24');
@include makeIcon(social-twitter-circular, '\ea25');
@include makeIcon(social-pinterest-circular, '\ea26');
@include makeIcon(social-linkedin-circular, '\ea27');
@include makeIcon(social-facebook-circular, '\ea28');
@include makeIcon(social-dribbble-circular, '\ea29');
@include makeIcon(tree, '\ea2a');
@include makeIcon(thermometer, '\ea2b');
@include makeIcon(social-tumbler-circular, '\ea2c');
@include makeIcon(social-skype-outline, '\ea2d');
@include makeIcon(social-flickr-circular, '\ea2e');
@include makeIcon(social-at-circular, '\ea2f');
@include makeIcon(shopping-cart, '\ea30');
@include makeIcon(messages, '\ea31');
@include makeIcon(leaf, '\ea32');
@include makeIcon(feather, '\ea33');
