// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/icons";

ion-navbar {
  // background: url(../assets/imgs/header.png) map-get($colors, white);
  background-size: contain;
  background-repeat: repeat-x;
  text-align: center;
  height: 50px;
  ion-buttons {
    &[left] .bar-button{
      background-size: cover;
      padding: 5px 0.8em 5px 1em;
    }
    &[right] .bar-button{
      background-size: cover;
      padding: 5px 0.8em 3px;
    }
  }
}

ion-modal.specialOrderModal {
  ion-backdrop {
      visibility: visible;
  }
  ion-header{
    z-index: 1;
  }
  .modal-wrapper{
    position: absolute;
    overflow: hidden;
    max-width: none !important;
    width: 90vw !important;
    height: 54vh !important;
    top: 0;
    bottom: 8em !important;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #000000;
    .scroll-content{
      overflow-y: hidden;
    }
    .scroll-content{
      overflow-y: hidden;
    }
  }
}


ion-modal.foodModal {
  // ipad 768X1024
  @media only screen and (min-width: 768px) and (min-height: 1024px){
    .modal-wrapper{
      width: 100vw !important;
      height: 100vh !important;
      position: sticky;
    }
  }
  // ipad pro
  @media only screen and (min-width: 1024px){
    .modal-wrapper{
      width: 100vw !important;
      height: 100vh !important;
      position: sticky;
    }
  }
}

ion-modal.dateModal {
  ion-backdrop {
      visibility: visible;
  }
  ion-header{
    z-index: 1;
  }
  ion-calendar {
    padding: 0 20px;
  }
  .modal-wrapper{
    position: absolute;
    overflow: hidden;
    max-width: none !important;
    width: 90vw !important;
    height: 75vh !important;
    top: 0;
    bottom: 8em !important;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #000000;
    .scroll-content{
      overflow-y: hidden;
    }
    .scroll-content{
      overflow-y: hidden;
    }
  }

  //iphone 5
  @media only screen and (min-width: 320px) and (min-height: 568px){
    .modal-wrapper {
      height: 85vh !important;
    }
  }

  //Galaxy 5S
  @media only screen and (min-width: 360px) and (min-height: 640px){
    .modal-wrapper {
      height: 72vh !important;
    }
  }

  //iphone 6/7/8
  @media only screen and (min-width: 375px) and (min-height: 667px){
    .modal-wrapper {
      height: 75vh !important;
    }
  }

  //iphone 6+/7+/8+
  @media only screen and (min-width: 414px) and (min-height: 736px){
    .modal-wrapper {
      height: 68vh !important;
    }
  }

  //iphone X
  @media only screen and (min-width: 375px) and (min-height: 812px){
    .modal-wrapper {
      height: 62vh !important;
    }
  }

}

ion-alert{
  .alert-wrapper{
    padding: 1.5em 1em 0;
    .alert-head{
      padding: 0;
    }
    .alert-message{
      margin-top: 5px;
      line-height: 1.5em;
    }
    .alert-button {
      margin: 0;
    }
  }
}

ion-header{
  &.header-md::after{
    background-image: none;
  }
}

ion-app.md [padding] .scroll-content{
  margin-top: 3em;
}

ion-app.ios {
    ion-navbar {
        min-height: 67px !important;
        ion-buttons {
            //padding-top: 20px;
        }
        ion-title {
            //padding: 20px 90px 1px;
            padding: 0 90px 1px;
            img {
                margin-top: 0;
            }
        }
    }
}

.alert-radio-button-md{
  .button-inner{
    .alert-radio-icon{
      border: 0;
      .alert-radio-inner {
        background-color: transparent;
        background-image: url(../assets/icon/tick.png);
        width: 14px;
        height: 13px;
      }
    }
  }
}

ion-tabs{
  $colorE2A:#E2AC00;
  .show-tabbar{
    a{
      &.tab-button[aria-selected=true] {
        color: $colorE2A;
        .tab-button-icon {
          color: $colorE2A;
        }
      }
    }
  }
  .tab-badge {
    background-color: #ff5d37;
  }
}