page-messageModal {
    ion-header{
        .toolbar-background, .toolbar-background-ios{
            background-color: map-get($colors, fff);
        }
        
        ion-title{
            .toolbar-title-ios, .toolbar-title{
                font-size: 1.25em;
                font-weight: 350;
                color: map-get($colors, 636);
                text-align: center;
            }
        }
        button {
            i {
                font-size: 2.5rem;
            }
        }
    }
    ion-content {
        .scroll-content{
            padding: 0 0 7.5em !important;
            ion-list{
                ion-item {
                    .label, .label-ios{
                        margin: 0;
                    }
                    &.item, &.item-block, &.item-ios{
                        padding-left: 0;
                        border-bottom: 0px solid map-get($colors, C8C) !important;
                    }
                    .content1{
                        padding: 1em 0.5em 1.7em 2em;
                        p {
                            margin-bottom: 1.5em;
                            line-height: 1.7em;
                            &:nth-of-type(1) {
                                color:  map-get($colors, 636) ;
                                font-weight: bold;
                                font-size: 2rem;
                                position: relative;
                                img{
                                    width: 0.8em;
                                    position: absolute;
                                    top: 0.35em;
                                    left: -1.3em;
                                }
                            }
                            &:nth-of-type(2) {
                                font-size: 1.7rem;
                                color:  map-get($colors, 989) ;
                            }
                            &:nth-of-type(3) {
                                font-size: 1.250rem;
                                color:  map-get($colors, 989) ;
                            }
                            &:nth-of-type(4) {
                                font-size: 1.250rem;
                                color:  map-get($colors, 989) ;
                                float: right;
                            }
                        }
                    }
                }
                .customerservice{
                    position: fixed;
                    bottom: 6em;
                    right: 1em;
                    z-index: 10000;
                }
                .fixed-content{
                    margin: 0;
                }
        
                &.content-ios, &.content{
                    background-color: map-get($colors, f5f);
                    .scroll-content{
                        padding: 0 0 5.5em;
                    }
                }
            }
        }
    }
}
