<!-- <ion-header>
  <ion-navbar [hideBackButton]="true" color="transparent">
    <ion-buttons left>
      <button ion-button (click)="back()" icon-left>
          <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="closeModal()" icon-right>
        確定
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list radio-group [(ngModel)]="foodId">
      <ion-item *ngFor="let food of foodList">
        <ion-label>{{food.id}} {{food.name}}</ion-label>
        <ion-radio value="{{food.id}}"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content> -->


<ion-header>
  
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="back()">
        <i class="icon-arrow-left"></i>
      </button>
    </ion-buttons>
    <ion-title>訊息</ion-title>
    
    <ion-buttons right>
      <button ion-button (click)="closeModal()">
        確定
      </button>
    </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <div class="content1" text-wrap>
          <p>{{message.title}}</p>
          <!--<p>{{message.content}}</p>-->
          <p [innerHTML]="message.content"></p>
          <!-- <p>{{message.createTime | momentPipe: 'YYYY/MM/DD HH:mm'}}</p> -->
      </div>
    </ion-item>
  </ion-list>
</ion-content>
