<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
        <button (click)="cancel()">
            <i class="icon-arrow-left"></i>
        </button>
    </ion-buttons>
    <ion-title>確認新增訂單</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="information">
    <i class="icon-user-outline"></i>
    <p>{{account.name}}({{account.id}})</p>
  </div>
  <div class="information">
      <i class="icon-location-outline"></i>
    <p>送貨地點</p>
    <div class="note">
      <!--<p>台中大肚</p>-->
      <p>{{order.location}}</p>
    </div>
  </div>
  <div class="information">
    <i class="icon-calender"></i>
    <p>到貨日期</p>
    <div class="note">
      <!--<p>2018/02/24 上午 （11:00AM）</p>-->
      <p>{{order.date}} {{order.time}}</p>
    </div>
  </div>
  <div class="information">
    <i class="icon-clipboard"></i>
    <p>訂單內容</p>
    <div class="locationSetting" *ngFor="let food of order.foods">
      <p class="titel">{{food.code}} - {{food.name}}</p>
      <div class="detailed">
        <div class="package">
          <!--<p>{{food.unit}} kg包裝</p>
          <p>{{food.count}} 包</p>-->
          <p>生產規格 {{food.spec}}</p>
          <p *ngIf="food.unit == '散裝/X'">散裝&nbsp; {{food.count}} &nbsp;噸</p>
          <p *ngIf="food.unit != '散裝/X'">包裝&nbsp; {{food.count}} &nbsp;包</p>
        </div>
        <p *ngIf="(food.detailSP && food.detailSP.drugCompanyList && food.detailSP.drugCompanyList.length > 0) || (food.detailSP &&  food.detailSP.drugSelfList && food.detailSP.drugSelfList.length > 0)">特配單</p>
        <ul *ngIf="food.detailSP && food.detailSP.drugCompanyList">
          <li *ngFor="let drug of food.detailSP.drugCompanyList">公司 / {{drug.code}} / {{drug.name}} / {{drug.count1kg}} kg每噸</li>
        </ul>
        <ul *ngIf="food.detailSP && food.detailSP.drugSelfList">
          <li *ngFor="let drug of food.detailSP.drugSelfList">自備 / {{drug.code}} / {{drug.name}} / {{drug.count1kg}} kg每噸</li>
        </ul>
      </div>
    </div>
    <div class="information">
      <i class="icon-message"></i>
      <p>訂單備註</p>
      <div class="note">
        <!--<p>我要急件處理，不然來不及送廠，發票月底統一開給台中公司</p>-->
        <p>{{order.note}}</p>
      </div>
    </div>
  </div>
  <div class="choose">
    <button class="cancel" (click)="cancel()">取消</button>
    <button class="determine" (click)="addConfirm()">確定</button>
  </div>
</ion-content>
