page-order-confirm {
    ion-header{
        ion-navbar {
            .toolbar-background, .toolbar-background-ios {
                background-color: map-get($colors, fff);
                border: 0 !important;
            }
            .toolbar-content, .toolbar-content-ios {
                ion-title {
                    background: url("../assets/icon/ifeed_2.png") no-repeat bottom right;
                    background-size: 7em;
                    .toolbar-title, .toolbar-title-ios {
                        font-size: 1.25em;
                        font-weight: 350;
                        color: map-get($colors, 636);
                        text-align: center;
                    }
                    &.title-md {
                        background-position-y: center;
                    }
                }
            }
            button {
                background-color: white;
                i{
                    color: map-get($colors, 636);
                    font-size: 2.25em;
                }
                .ion-md-arrow-back:before {
                    content: "\f27d";
                    font-size: 1.125em;
                    font-weight: bolder;
                }
            }
        }
    }
    ion-content{
        img{
            height: auto;
		    max-width: 100%;
        }
        &.content-ios, &.content{
            background-color: map-get($colors, f5f);
        }
        font-size: 1.063em;

        .information{
            i{
                color: map-get($colors, 08C);
                font-size: 1.375em;
            }
            margin: 0 0 0.5em;
            img{
                display: inline-block;
                vertical-align: middle;
            }

            p{
                display: inline-block;
                vertical-align: top;
                color: map-get($colors, 636);
                margin: 0;
            }
            .locationSetting{
                margin: 0.5em 0em 0 1.5em;
                border: 1px map-get($colors, D8D) solid;
                width: 90%;
                .titel{
                    font-size: 0.813em;
                    font-weight: 450;
                    color: map-get($colors, 636);
                    background-color: map-get($colors, fff);
                    display: block;
                    padding: 0.3em 0.5em;
                    border-bottom: 1px map-get($colors, D8D) solid;
                }
                .detailed{
                    background-color: map-get($colors, fff);
                    font-size: 0.875em;
                    color: map-get($colors, 636);
                    padding: 0.5em;
                    .package{
                        text-align: right;
                        font-size: 0.750em;
                        p{
                            color: map-get($colors, 8A8);
                        }
                    }
                    ul{
                        font-size: 0.750em;
                        color: map-get($colors, 8A8);
                        margin: 0;
                    }
                }
            }
        }
        .choose{
            text-align: center;
            margin: 2em 0 0;
            .cancel{
                background-color: map-get($colors, 8A8);
                color: map-get($colors, fff);
                padding: 0.7em;
                width: 40%;
                border-radius: 3px;
                font-size: 0.875em;
            }
            .determine{
                background-color: map-get($colors, 8AA);
                color: map-get($colors, fff);
                padding: 0.7em;
                width: 40%;
                border-radius: 3px;
                margin: 0 0 0 1em;
                font-size: 0.875em;
            }
        }
        .note{
            margin: 0.5em 0em 0 1.5em;
            width: 90%;
            font-size: 1.125em;
            
        }
    }
    // Nexus 5 360 X 567 (虛擬鍵盤)
    @media only screen and (min-width: 360px) and (min-height: 567px){
    }
    // ipad pro 1024 X 1366
    @media only screen and (min-width: 1024px) and (min-height: 1366px){
        ion-content {
            
        }
    }
}
