page-foodModal {
    ion-header{
        .toolbar-background, .toolbar-background-ios{
            background-color: map-get($colors, fff);
        }
        ion-navbar{
            &.toolbar-md{
                min-height: 50px;
            }
            border-bottom: 1px solid #dedede;
            border-width: 0;
            ion-buttons{
                    .icon-arrow-left{
                        font-size: 1.75em;
                    }
                }
            .toolbar-content, .toolbar-content-md{
                ion-title{
                    .toolbar-title-ios, .toolbar-title .toolbar-title-md{
                        font-size: 1.125em;
                        font-weight: 400;
                        color: map-get($colors, 636);
                        text-align: center;
                    }
                }
            }
            i{
                color: map-get($colors, 636);
                font-size: 1.063em;
            }
            ion-buttons[right]{
                .disable-hover, .bar-button, .bar-button-ios, .bar-button-default, .bar-button-default-ios{
                    font-size: 1em;
                    color: map-get($colors, 636);
                }
            }
        }
    }
    ion-content{
        .fixed-content{
            margin-top: 80px;
        }
        .border{
            .list-md{
                margin: 0;
            }
            .list-ios{
                margin: -3px 0 -1px;
            }
        }
        .scroll-content{
            background-color: map-get($colors, f5f);
            ion-item{
                font-size: 1em;
                color: map-get($colors, 636);
                ion-label{
                    &.label, &.label-ios{
                        margin: 0 0 0 1.5em;
                    }
                }
                .item-inner{
                    border-bottom: 0 !important;
                    .radio-md .radio-icon{
                        border: 0;
                    }
                    ion-radio{
                        &.radio-md{
                            .radio-icon, .radio-checked{
                                width: 20px;
                                height: 20px;
                                .radio-md, .radio-inner{
                                    background-color: map-get($colors, fff);
                                    background-image: url(../assets/icon/tick.png);
                                    width: 14px;
                                    height: 13px;
                                    background-size: 15px;
                                }
                            }
                        } 
                    }
                    button{
                        border-bottom: 1px solid #dedede;
                    }
                }
           }
        }
        p{
           color: map-get($colors, ff5);
           text-align: center;
           font-weight: bolder;
           font-size: 0.938em;
           margin: 5em 0 2em 0;
        }
        .error{
        text-align: center;
           img{
            width: 60%;
           } 
        }
    }

    // Nokia Lumia 520 320X533
    @media only screen and (min-width: 320px) and (min-height: 533px){
        ion-content{
            .radio-wp{
                margin: 0.5em 0 0.5em 1em !important;
                .radio-icon, .radio-checked{
                    border: 0;
                    .radio-inner{
                        background-color: white;
                        background: url("../assets/icon/tick.png") scroll transparent ; 
                        background-size: 0.8em;
                        width: 0.8em;
                        height: 0.8em;
                    }
                }
            }
        }
    }
    // Nexus 7 600X960 
    @media only screen and (min-width: 600px) and (min-height:960px){
        ion-header{
            ion-navbar{
                &.toolbar-md{
                    min-height: 80px;
                }
                border-bottom: 1px solid #dedede;
                .bar-buttons, .bar-buttons-md{
                    button{
                        font-size: 1.375em !important;
                    }
                }
                ion-buttons{
                        .icon-arrow-left{
                            font-size: 2.5em;
                        }
                    }
                .toolbar-content, .toolbar-content-md{
                    ion-title{
                        .toolbar-title, .toolbar-title-md{
                            font-size: 1.875em;
                        }
                    }
                }
            }
        }
        ion-content{
            .fixed-content{
                margin-top: 80px;
            }
        }
        .border{
            ion-item{
                font-size: 1.563em !important;
                padding: 1em 0 !important;
                ion-radio{
                    .radio-icon, .radio-checked{
                        width: 20px;
                        height: 20px;
                        margin: 0 1em 0 0;
                        .radio-inner{
                            background-size: 20px !important;
                            width: 20px !important;
                            height: 20px !important;
                        }
                    }
                }
            }
        }
    }
    // Black Berry PlayBook 600X1024
    @media only screen and (min-width: 600px) and (min-height:1024px){
        ion-header{
            ion-navbar{
                &.toolbar-md{
                    min-height: 80px;
                }
                border-bottom: 1px solid #dedede;
                .bar-buttons, .bar-buttons-md{
                    button{
                        font-size: 1.375em !important;
                    }
                }
                ion-buttons{
                    .icon-arrow-left{
                        font-size: 2.5em;
                    }
                }
                .toolbar-content, .toolbar-content-md{
                    ion-title{
                        .toolbar-title, .toolbar-title-md{
                            font-size: 1.875em;
                        }
                    }
                }
            }
        }
        ion-content{
            .fixed-content{
                margin-top: 80px;
            }
        }
        .border{
            ion-item{
                font-size: 1.563em !important;
                ion-radio{
                    .radio-icon, .radio-checked{
                        width: 20px;
                        height: 20px;
                        margin: 0 1em 0 0;
                        .radio-inner{
                            background-size: 23px !important;
                            width: 23px !important;
                            height: 23px !important;
                        }
                    }
                }
            }
        }
    }
    // ipad 7680X1024
    @media only screen and (min-width: 768px) and (min-height:1024px){
        ion-header{
            ion-navbar{
                &.toolbar-md{
                    min-height: 80px;
                }
                border-bottom: 1px solid #dedede;
                .bar-buttons, .bar-buttons-md{
                    button{
                        font-size: 1.375em !important;
                    }
                }
                ion-buttons{
                        .icon-arrow-left{
                            font-size: 2.5em;
                        }
                    }
                .toolbar-content, .toolbar-content-md{
                    ion-title{
                        .toolbar-title, .toolbar-title-md{
                            font-size: 1.875em;
                        }
                    }
                }
            }
        }
        ion-content{
            .fixed-content{
                margin-top: 80px;
            }
        }
        .border{
            ion-item{
                font-size: 1.563em !important;
                padding: 1em 0 !important;
                ion-radio{
                    .radio-icon, .radio-checked{
                        width: 20px;
                        height: 20px;
                        margin: 0 1em 0 0;
                        .radio-inner{
                            background-size: 20px !important;
                            width: 10px !important;
                            height: 20px !important;
                        }
                    }
                }
            }
        }
    }
    // Kindle Fire HDX, Nexus 10 800X1280
    @media only screen and (min-width: 800px) and (min-height:1280px){
        ion-header{
            ion-navbar{
                &.toolbar-md{
                    min-height: 80px;
                }
                border-bottom: 1px solid #dedede;
                .bar-buttons, .bar-buttons-md{
                    button{
                        font-size: 1.375em !important;
                    }
                }
                ion-buttons{
                        .icon-arrow-left{
                            font-size: 2.5em;
                        }
                    }
                .toolbar-content, .toolbar-content-md{
                    ion-title{
                        .toolbar-title, .toolbar-title-md{
                            font-size: 1.875em;
                        }
                    }
                }
            }
        }
        ion-content{
            .fixed-content{
                margin-top: 80px;
            }
        }
        .scroll-content{
            margin-top: 80px;
            .border{
                ion-item{
                    font-size: 1.563em !important;
                    padding: 0.5em 0 !important;
                    ion-radio{
                        .radio-icon, .radio-checked{
                            width: 20px;
                            height: 20px;
                            .radio-inner{
                                background-size: 20px !important;
                                width: 20px !important;
                                height: 20px !important;
                            }
                        }
                    }
                }
            }
        }   
    }    
    // ipad pro 1024X1366
    @media only screen and (min-width: 1024px) and (min-height: 1366px){
        ion-header{
            ion-navbar{
                &.toolbar-md{
                    min-height: 80px;
                }
                border-bottom: 1px solid #dedede;
                .bar-buttons, .bar-buttons-md{
                    button{
                        font-size: 1.375em !important;
                    }
                }
                ion-buttons{
                        .icon-arrow-left{
                            font-size: 2.5em;
                        }
                    }
                .toolbar-content, .toolbar-content-md{
                    ion-title{
                        .toolbar-title, .toolbar-title-md{
                            font-size: 1.875em;
                        }
                    }
                }
            }
        }
        ion-content{
            .fixed-content{
                margin-top: 80px;
            }
        }
        .border{
            ion-item{
                font-size: 1.563em !important;
                padding: 1em 0 !important;
                ion-radio{
                    .radio-icon, .radio-checked{
                        width: 20px;
                        height: 20px;
                        .radio-inner{
                            background-size: 20px !important;
                            width: 10px !important;
                            height: 20px !important;
                        }
                    }
                }
            }
        }
    }
}
