page-setting {
    ion-header {
        ion-navbar {
            .toolbar-background, .toolbar-background-ios {
                background-color: map-get($colors, fff);
                border: 0 !important;
            }
            .toolbar-content, .toolbar-content-ios {
                ion-title {
                    background: url("../assets/icon/ifeed_2.png") no-repeat bottom right;
                    background-size: 7em;
                    .toolbar-title, .toolbar-title-ios {
                        font-size: 1.25em;
                        font-weight: 350;
                        color: map-get($colors, 636);
                        text-align: center;
                    }
                    &.title-md {
                        background-position-y: center;
                    }
                }
            }
        }
    }
    ion-content{
        &.content-ios, &.content{
            background-color: map-get($colors, f5f);
            .scroll-content{
                padding: 1.7em 2em !important;
            }
        }
        .data{
            background-color: map-get($colors, fff);
            padding: 1em;
            .group {
                border-bottom: 1px solid map-get($colors, E8E);
                p {
                    display: block;
                    font-size: 0.875em;
                    color: map-get($colors, 08C);
                    text-align: center;
                    &.name{
                        color: map-get($colors, 636);
                        margin: 1em 0;
                        text-align: left;
                    }
                }
                &:nth-last-of-type(1) {
                    border: 0;
                }
            }
        }
        button{
            width: 100%;
            height: 3em;
            background-color: map-get($colors, fff);
            color: map-get($colors, ff5);
            margin: 1em 0;
            font-size: 0.938em;
        }
        .version{
            text-align: center;
            font-size: 0.750em;
            color: map-get($colors, 636);
            margin: 0;
        }
    }
}