<ion-header>
  <ion-navbar>
    <ion-title>我的設定</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="data">
    <div class="group">
      <p class="name">登入帳號類型：</p>
      <p *ngIf="appUser.type == 'S'">業務</p>
      <p *ngIf="appUser.type == 'MC'">主帳號</p>
      <p *ngIf="appUser.type == 'SC'">分帳號</p>
    </div>
    <div class="group">
      <p class="name">登入帳號資訊：</p>
      <p>{{appUser.name}}（{{appUser.userId}}）</p>
    </div>
    <div class="group">
      <p class="name">操作帳號類型：</p>
      <p>分帳號</p>
    </div>
    <div class="group">
      <p class="name">操作帳號資訊：</p>
      <p>{{account.name}}（{{account.id}}）</p>
    </div>
  </div>
  <button (click)="logout()">登出</button>
  <p class="version">系統版本：v{{appVersion}}</p>
</ion-content>
