<ion-header>
    <page-header></page-header>
    <div class="search">
        <input type="text" [(ngModel)]="searchText" placeholder="輸入分帳號或名稱快速查詢"/>
        <p>請選擇要操作的分帳號</p>
    </div>
</ion-header>
<ion-content>
    <div class="list-block">
        <ion-list radio-group no-lines [(ngModel)]="loginAccountId">
            <div class="options">
                <ion-item *ngFor="let account of accounts | filter : searchText">
                    <ion-label>
                        <p>{{account.mcName}} / <span>{{account.mcId}}</span></p>
                        <span>{{account.name}} / {{account.id}}</span>
                        <p class="account-ship-to">{{account.shipTo}}</p>
                    </ion-label>
                    <ion-radio value="{{account.id}}"></ion-radio>
                </ion-item>
            </div>
        </ion-list>
    </div>
    <div class="determine">
        <button ion-button (click)="confirm()">確定</button>
    </div>
</ion-content>