page-account {
    ion-header{
        .search{
            padding: 0 2em;
            margin: 1em 0 0.5em;
            input {
                width: 100%;
                height: 2.6em;
                padding: 0.5em 0.5em;
                color: map-get($colors, 636);
                border: 1px solid map-get($colors, D8D);
                border-radius: 3px;
                font-size: 1em;
                background: url("../assets/icon/zoom-outline.png") no-repeat center right 3% map-get($colors, fff);
                background-size: 1.2em;
            }
            p {
                font-size: 1em;
                font-weight: bold;
                color: map-get($colors, 989);
                margin: 1em 0 0;
                text-align: center;
            }
        }
    }
    ion-content{
        &.content, &.content-ios {
            background-color: map-get($colors, f5f);
        }
        .scroll-content {
            margin-top: 18em !important;
            ion-list {
                .options{
                    padding: 0 2em;
                    ion-item{
                        width: 100%;
                        color: map-get($colors, 636);
                        background-color: map-get($colors, fff);
                        border: 1px solid map-get($colors, D8D);;
                        border-radius: 3px;
                        margin: 0.5em 0;
                        font-size: 1em;
                        text-align: left;
                        ion-label{
                            color: map-get($colors, 040);
                            margin: 0;
                            p {
                                font-size: 16px;
                                &.account-ship-to{
                                    color: map-get($colors, 8A8);
                                    text-align: right;
                                    font-size: 12px;
                                }
                            }
                            span {
                                font-size: 12px;
                                color: map-get($colors, 8A8);
                            }
                        }
                        .radio-md {
                            .radio-checked, .radio-icon{
                                border: 0;
                                .radio-inner{
                                    background-color: map-get($colors, fff);
                                    background: url("../assets/icon/tick.png") no-repeat center transparent;
                                    background-size: cover !important;
                                    width: 16px !important;
                                    height: 16px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .list-block {
            height: 18em;
            overflow-y: scroll;
            ion-item {
                padding: 1em 0 1em 0.5em;
                .item-inner {
                    padding: 0 !important;
                    .input-wrapper {
                        max-width: 90%;
                    }
                }
            }
            ion-radio {
                margin: 0 !important;
                .radio-checked {
                    width: 15px;
                    height: 15px;
                    .radio-inner {
                        background: url("../assets/icon/tick.png") no-repeat center right transparent;
                        background-size: contain;
                        border: 0 !important;
                        width: 15px !important;
                        height: 15px !important;
                        transform: rotate(0deg) !important;
                        top: auto !important;
                        left: auto !important;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
        .determine {
            padding: 0 2em;
            margin: 1em 0;
            button {
                background-color: map-get($colors, 638) !important;
                color: map-get($colors, fff);
                font-size: 0.938em;
                width: 100%;
                height: 3em;
                border-radius: 3px;
                margin: 0;
            }
        }
    }

    // Nexus 5 360 X 567 (虛擬鍵盤)
    @media only screen and (min-width: 360px) and (min-height: 567px){
        ion-content {
        }
    }
    // Galaxy note3 360 X 640
    @media only screen and (min-width: 360px) and (min-height: 640px){
        ion-content {
            .list-block {
                height: 22em;
            }
        }
    }
    // iphone6/7/8 375 X 667
    @media only screen and (min-width: 375px) and (min-height: 667px){
        ion-content {
            .scroll-content {
                margin-top: 19em !important;
            }
            .list-block {
                height: 24em;
            }
        }
    }
    // iphoneX 375 X 812
    @media only screen and (min-width: 375px) and (min-height: 812px){
        ion-content {
            .list-block {
                height: 34em;
            }
        }
    }
    // Pixel 2L 411 X 823
    @media only screen and (min-width: 375px) and (min-height: 812px){
        ion-content {
        }
    }
    // Nexus 5X 412 X 660 (虛擬鍵盤)
    @media only screen and (min-width: 412px) and (min-height: 660px){
        ion-content {
        }
    }
    // Nexus 6 412 X 732
    @media only screen and (min-width: 412px) and (min-height: 732px){
        ion-content {
            .list-block {
                height: 27em;
            }
        }
    }
    // iphone6/7/8 plus 414 X 736
    @media only screen and (min-width: 414px) and (min-height: 736px){
        ion-content {
        }
    }
    // Nokia N9 X 854
    @media only screen and (min-width: 480px) and (min-height: 854px){
        ion-content {
            .scroll-content {
                margin-top: 20em !important;
            }
            .list-block {
                height: 35em;
            }
        }
    }
    // Nexus7 600 X 960
    @media only screen and (min-width: 600px) and (min-height: 960px){
        ion-content {
            .scroll-content {
                margin-top: 23em !important;
            }
            .list-block {
                height: 40em;
            }
        }
    }
    // blackberry playbook 600 X 1024
    @media only screen and (min-width: 600px) and (min-height: 1024px){
        ion-content {
            .list-block {
                height: 44em;
            }
        }
    }
    // ipad 768 X 1024
    @media only screen and (min-width: 768px) and (min-height: 1024px){
        ion-content {
            .scroll-content {
                margin-top: 25em !important;
            }
            .list-block {
                height: 42em;
            }
        }
    }
    // ipad pro 1024 X 1366
    @media only screen and (min-width: 1024px) and (min-height: 1366px){
        ion-content {
            .scroll-content {
                margin-top: 29em !important;
            }
            .list-block {
                height: 62em;
            }
        }
    }
}